article.agreement.mobile-cabinet-white-border
  .agreement__cont.cont
    h1.agreement__caption.caption АГЕНТСКИЙ ДОГОВОР (ОФЕРТА)
    p.agreement__text г. Киров, редакция от 13 декабря 2021 г.
    .content
      p Данный Договор является публичным предложением Агента (Офертой) любому Принципалу к заключению Договора на указанных ниже условиях.
      p
        | Договор считается заключенным с момента совершения Принципалом действий, предусмотренных
        |
        a(href="#") разделом 3 Договора,
        |
        | означающих полное и безоговорочное принятие им всех условий Договора.
      h2 1. Термины и определения
      p
        b= "Оферта "
        | – условия настоящего Договора, включая условия Приложений к Договору, являющиеся неотъемлемой частью
        | Договора, предложение Агента, адресованное Принципалу, заключить с ним настоящий Договор на условиях, содержащихся в Договоре.
      p
        b= "Акцепт "
        | – полное и безоговорочное принятие Принципалом условий Договора. Акцептом по настоящему Договору
        | является совершение Принципалом действий, предусмотренных пунктами 3.6., 3.7. настоящего Договора.
      p
        b= "Договор "
        | — настоящий договор, заключаемый между Агентом и Принципалом в порядке, предусмотренном
        |
        a(href="#") разделом 3 Договора
        | , опубликованный в сети Интернет по адресу:
        |
        a(href="/agreement") https://seller.cheapollo.ru/agreement
        | , а также все
        | Приложения к нему, являющиеся его неотъемлемой частью.
      p
        b= "Принципал (Продавец) "
        | – юридическое лицо или индивидуальный предприниматель или гражданин РФ, признанный в установленном
        | законодательством РФ порядке самозанятым, осуществляющие деятельность по продаже Товаров Покупателям с
        | использованием дистанционного способа, прошедшие регистрацию, предусмотренную разделом 3 Договора и принявшие
        | (акцептовавшие) настоящую Оферту (заключившие Договор).
      p
        b= "Агент "
        | – Общество с ограниченной ответственностью «Чиполло» (ИНН 4345506892, ОГРН 1204300011233, юридический адрес:
        | 610046, Кировская обл, Киров г, Московская ул., дом 102В/1, офис помещ. 2).
      p
        b= "Покупатель "
        | – полностью дееспособное физическое лицо, приобретающее (либо указанное в качестве получателя) Товары
        | (работы, услуги) у Принципала дистанционным способом посредством оформления заказа Товаров на Сайте
        | исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской
        | деятельности, либо юридическое лицо, индивидуальный предприниматель, приобретающие (либо указанное в качестве
        | получателя) Товары (работы, услуги) у Принципала дистанционным способом посредством оформления заказа Товаров
        | на Сайте в целях, не связанных с осуществлением предпринимательской деятельности и их последующей перепродажей.
      p
        b= "Сайт "
        | – агрегатор информации о товарах (услугах, работах), на котором размещаются адресованные Покупателям предложения
        | о заключении договора купли-продажи Товара (оказания услуг, выполнения работ), принадлежащих Принципалу
        | (выполняемых/предоставляемых Принципалом), расположенный на доменном имени
        |
        a(href="/") cheapollo.ru
        | , включая поддомены
        | (в том числе, но не ограничиваясь,
        |
        a(href="#") seller.cheapollo.ru
        | ), которые принадлежат и администрируются Агентом.
        | Доменное имя, наименование Сайта могут быть изменены по усмотрению Агента без согласования с Принципалом.
        | При этом все обязательства Агента по настоящему Договору сохраняют силу.
      p
        b= "Товар (Товары) "
        | – товары (объекты материального мира), которые Принципал разместил к продаже на Сайте, являющиеся предметом
        | договора купли-продажи, заключаемого между Принципалом и Покупателем. Принципал является собственником и
        | продавцом Товара. Все взаимоотношения, связанные с куплей-продажей Товаров на Сайте, возникают непосредственно
        | между Принципалом и Покупателем. Агент не является продавцом Товара и лицом, уполномоченным Принципалом на
        | принятие и удовлетворение требований Покупателя в отношении Товара ненадлежащего качества. Вместе с тем, в
        | случаях, предусмотренных Договором, Принципал может поручить Агенту осуществление отдельных действий от имени
        | и за счет Принципала, связанных с принятием и удовлетворением требований Покупателя в отношении Товара.
      p
        b= "Пункт выдачи заказов (ПВЗ) "
        | – помещение Агента или привлеченного им для оказания услуг третьего лица, в котором осуществляется приемка,
        | хранение, консолидирование, обслуживание и выдача Товаров Принципала. Местонахождение и иные характеристики
        | ПВЗ указаны на Сайте по адресу
        |
        a(href="/delivery") https://cheapollo.ru/delivery.
      p
        b= "Заказ "
        | – товар или набор товаров, который Покупатель заказал у Принципала на Сайте.
      p
        b= "Карточка товара "
        | – совокупность информации о предлагаемом к продаже Товаре, размещаемая на Сайте, включающая
        | в себя, наименование, цену Товара, изображение Товара, в том числе может включать в себя изображение в формате
        | 3D, видео Товара, описание, ключевые свойства, а также характеристики (доступные цвета, размеры и конфигурации).
        | Карточка товара содержит информацию о Товаре, доведение которой до сведения потребителей является обязательным
        | в силу законодательства в сфере защиты прав потребителей. Карточка товара является визуальным отображением
        | Товарного предложения Принципала; Товарное предложение, содержащееся в Карточке товара в каждый конкретный
        | момент времени, определяется в соответствии с правилами, установленными Агентом.
      p
        b= "Товарное предложение "
        | — адресованное Покупателям предложение Товара Принципала (оферта Принципала на заключение договора купли-продажи
        | Товара), размещаемое на Сайте.
      p
        b= "Личный кабинет (ЛК) "
        | – персональная страница Принципала на Сайте по адресу
        |
        a(href="#") https://seller.cheapollo.ru
        | , содержащая информацию о Принципале, размещаемых им Товарах и о Заказах Товаров Принципала и иную информацию
        | в отношении исполнения Договора, а также предоставляет возможность удаленного взаимодействия Сторон в рамках
        | Договора, доступный Принципалу после Регистрации, Активации ЛК и авторизации с использованием логина и пароля
        | Принципала на Сайте.
      p
        b= "Уведомление "
        | – электронное сообщение, направляемое Агентом Принципалу в ЛК и/или на адрес электронной почты, указанный
        | Принципалом при регистрации в ЛК на Сайте и/или по телефону, указанному в настоящем Договоре и/или указанный
        | Принципалом при регистрации в ЛК на Сайте.
      p
        b= "Активация "
        | – направляемое Агентом подтверждение Принципалу на адрес электронной почты, указанный Принципалом при регистрации
        | ЛК на Сайте, об активации его ЛК. Активация ЛК означает предоставление доступа Принципалу к полному функционалу
        | ЛК, что является подтверждением заключения настоящего Договора (Оферты). Если Агент не совершил Активацию ЛК
        | Принципала, то Договор считается незаключённым, а потенциальный Принципал не становится Принципалом по настоящему
        | Договору и не вправе требовать признания Договора заключённым со стороны Агента.
      p
        b= "Регистрация "
        | – ряд последовательных действий по заполнению формы регистрации на Сайте и совершению действий по подтверждению
        | регистрации, указанных на Сайте.
      p
        b= "Отчетный период "
        | – период, приравненный 1 (Одному) календарному месяцу.
      p
        b= "Агентское вознаграждение "
        | – комиссионное вознаграждение Агента, выраженное в процентной ставке от цены реализации Товара Принципала.
        | Размер Агентского вознаграждения установлен в
        |
        a(href="#") Приложении «Модели работы, агентское вознаграждение и тарифы Cheapollo»
        | .
      p
        | В Договоре (в том числе в приложениях к нему) могут быть использованы термины, не определенные в настоящем
        | разделе Договора. В этом случае толкование такого термина производится в соответствии с текстом Договора
        | (в том числе приложений к нему). В случае отсутствия однозначного толкования термина в тексте Договора следует
        | руководствоваться толкованием термина, определенным: в первую очередь — законодательством РФ, во вторую
        | очередь — сложившимся (общеупотребимым) в сети Интернет.
      h2 2. Предмет Договора
      p.
        2.1. Предметом настоящего Договора являются юридические и фактические действия Агента по реализации Товаров потребительского назначения, принадлежащих Принципалу, на Сайте по договорам розничной купли-продажи от имени, по поручению и за счет Принципала с уплатой Принципалом Агенту Агентского вознаграждения. Права и обязанности по сделкам, связанным с реализацией Товаров Принципала и заключенным от его имени, возникают непосредственно у Принципала.
      ul
        li 2.1.1. В случаях, предусмотренных Договором и действующим законодательством РФ, Принципал обязуется возместить Агенту издержки, понесенные при исполнении поручения.
      p 2.2. Агент от имени Принципала осуществляет демонстрацию Товаров Принципала на Сайте, заключает договоры розничной купли-продажи с Покупателями, принимает от Покупателей безналичные денежные средства в оплату за Товар и передает их Принципалу, производит передачу Товаров Покупателям, осуществляет прием возвращаемых Покупателями Товаров, хранение Товара на ПВЗ до его передачи Покупателю сроком до 8 (Восемь) календарных дней, сборку заказов. Агент предоставляет Принципалу возможность размещать предложения Товаров на Сайте, передает информацию о Заказах Товаров Принципалу, осуществляет разработку, техническое обслуживание и администрирование ЛК Принципала. Стоимость указанных в настоящем пункте услуг входит в размер Агентского вознаграждения.
      p 2.3. Кроме выполнения поручения, указанного в п. 2.1 настоящего Договора, и услуг, перечисленных в п.2.2. настоящего Договора, по запросу Принципала Агент может оказывать Принципалу иные услуги, в соответствии с Приложениями к Договору. При этом за оказание услуги взимается дополнительная плата.
      p 2.4. Особенности оказания услуг в соответствии с п.2.3. настоящего Договора указаны в Приложении «Модели работы, агентское вознаграждение и тарифы Cheapollo» настоящего Договора.
      p 2.5. Товар, переданный Принципалом Агенту, остаётся в собственности Принципала до момента исполнения обязательства по передаче Товара Покупателю (за исключением случаев отказа Покупателя от Товара в момент передачи), либо до момента реализации Товара Принципалом Агенту.
      p 2.6. Принципал гарантирует и несет ответственность за соответствие Товара требованиям законодательства, нормативно-техническим и иным установленным требованиям, а также Приложению «Требования к Товару и к оформлению Карточки товара».
      p 2.7. Агент вправе привлекать к исполнению своих обязательств по Договору как полностью, так и в какой-либо части третьих лиц без согласия Принципала и несет перед Принципалом ответственность за ненадлежащее исполнение ими своих обязательств.
      h2 3. Заключение Договора
      p
        | 3.1. Принципал обязан ознакомиться с текстом настоящего Договора (Оферты), опубликованному по адресу
        |
        a(href='#') https://seller.cheapollo.ru/agreement
        |
        | до регистрации и получения доступа к ЛК.
      p
        | 3.2. Принципал обязан пройти регистрацию для доступа к ЛК на странице
        |
        a(href='#') https://seller.cheapollo.ru/signup
        | , указав имя, фамилию, электронную почту (e-mail), номер телефона и пароль, после чего нажать на кнопку
        | «Продолжить», подтвердить адрес электронной почты (e-mail), перейдя по ссылке из письма, отправленного Агентом
        | на указанный при регистрации адрес электронной почты, и завершить регистрацию, заполнив информацию об
        | организации, и нажав на кнопку «Зарегистрироваться».
      p.
        3.3. Принципал самостоятельно формирует пароль для доступа к ЛК. Агент вправе предъявлять требования к паролю при его формировании (длина, допустимые символы и т.д.)
      p.
        3.4. Принципал соглашается, что использование им логина (e-mail, указанный при регистрации) и пароля является надлежащей и достаточной идентификацией Принципала для доступа к ЛК, подтверждением права совершать операции в ЛК Принципала и является аналогом собственноручной подписи Принципала. Операции и сделки, совершенные Сторонами в ЛК на Сайте, признаются совершенными в простой письменной форме. Принципал в полном объеме отвечает за действия любого лица, который от его имени совершает сделки и операции в ЛК на Сайте.
      p.
        3.5. Принципал обязан обеспечить безопасное и конфиденциальное хранение логина и пароля, используемых для входа в ЛК на Сайте. В случае их утраты, включая получение к ним доступа третьими лицами, Принципал обязан не использовать такие данные и незамедлительно изменить данные для авторизации (пароль) в ЛК.
      p.
        3.6. Регистрация Принципала в ЛК на Сайте является подтверждением того, что Принципал принял условия настоящей Оферты (Договора) в полном объёме.
      p
        | 3.7. Принципал предоставляет Агенту документы, предусмотренные
        |
        a(href='#prilozhenie3') Приложением «Пакет документов
        | , предоставляемый Принципалом для заключения Договора» к настоящему Договору, и необходимую информацию в ЛК,
        | после проверки которых Агент производит Активацию ЛК Принципала на Сайте. Агент вправе отказать в Активации без объяснения причин.
      p.
        3.8. Активация ЛК означает предоставление доступа Принципалу к полному функционалу ЛК, что является подтверждением заключения настоящего Договора. Если Агент не совершил Активацию ЛК Принципала, то Договор считается незаключённым, а потенциальный Принципал не становится Принципалом по настоящему Договору и не вправе требовать признания Договора заключённым со стороны Агента.
      p.
        3.9. Стороны гарантируют, что обладают необходимой правоспособностью и дееспособностью для заключения и исполнения настоящего Договора.
      p.
        3.10. Агентом могут быть повторно запрошены необходимые документы, при этом Принципал обязан их предоставить по первому требованию в течение 3 (трёх) календарных дней с даты соответствующего запроса.
      p.
        3.11. Договор также может быть заключен путем подписания двух экземпляров Договора на бумажном носителе уполномоченными представителями сторон. По одному экземпляру для каждой из сторон. В указанном случае весь документооборот между Сторонами осуществляется на бумажных носителях. В случае последующей регистрации Принципала в ЛК с момента Активации, документооборот осуществляется Сторонами в электронном виде через ЛК.
      h2 4. Порядок оказания услуги, направленной на реализацию Товаров
      p
        | 4.1. Товар Принципала представлен на Сайте Карточкой товара и должен соответствовать всем условиям
        |
        a(href='#prilozhenie8') Приложения «Требования к товару и оформлению Карточки товара»
        | .
      p.
        4.2. Покупатель принимает предложение Принципала заключить Договор посредством совершения фактических действий по заполнению форм Заказа Товара и оплате Товара на расчетный счёт Агента путем безналичных платежей через банковский сервис онлайн-эквайринга.
      p.
        4.3. Оплата Товара Покупателем осуществляется по действующей цене, установленной Принципалом на Сайте.
      p
        | 4.4. Принципал самостоятельно определяет цену Товара, наличие Товара и сроки доставки Товара со статусом под заказ.
        | Принципал поручает Агенту определять все иные условия продажи Товара через Сайт. Вопросы использования Сайта,
        | а также условия продажи Товара, в том числе условия и сроки возврата Товара, которые не ухудшают положение
        | Покупателей по сравнению с законодательством, определяются в соответствии с
        |
        a(href='#') Приложением «Пользовательское соглашение на сайте CHEAPOLLO.ru»
        |
        | настоящего Договора (Оферты).
      p
        | 4.5. Принципал самостоятельно упаковывает Товар в соответствии с требованиями установленными
        |
        a(href='#prolozhenie5') Приложением «Правила упаковки и маркировки Товара»
        |
        | и доставляет в соответствии с условиями, выбранной модели работы.
        | Условия установлены
        |
        a(href='#prolozhenie1') Приложением «Модели работы, агентское вознаграждение и тарифы Cheapollo»
        |
        | настоящего Договора (Оферты).
      p.
        4.6. Товар на Сайте представлен в статусах «В наличии» и «Под заказ».
      ul
        li.
          4.6.1. Принципал обязуется доставить Товар со статусом «В наличии» в течение 24 часов с момента совершения Покупателем Заказа, в зависимости от выбранной Принципалом модели работы и выбранного Покупателем способа доставки: в ПВЗ в соответствии с режимом работы, либо в транспортную компанию, либо Покупателю в выбранный Покупателем период времени (в случае адресной доставки).
        li.
          4.6.2. Сроки доставки Товара со статусом «Под заказ» устанавливается Принципалом самостоятельно, в этом случае Принципал обязуется доставить Товар в установленные сроки.
        li.
          4.6.3. В случае, если часть Товара в Заказе имеет статус «В наличии», а часть Товара – «Под заказ», Товар доставляется отдельными партиями в соответствии со сроками, установленными для каждого статуса.
      p
        | 4.7. В случае если Принципал не осуществляет доставку в указанные в пунктах 4.6.1.—4.6.3. сроки, размер Агентского
        | вознаграждения, подлежащего уплате Принципалом, увеличивается в порядке, определенном в Таблице 2
        |
        a(href='#prolozhenie1') Приложения «Модели работы, агентское вознаграждение и тарифы Cheapollo»
        | ,  Принципал обязуется также возместить все связанные с такими обстоятельствами расходы и убытки Агента. При нарушении срока доставки Товара Принципалом более, чем на 24 часа Заказ может быть отменен, при этом Принципал не освобождается от уплаты повышенного Агентского вознаграждения и иных платежей.
      p
        | 4.8. Хранение товара с момента получения от Принципала до момента его передачи Покупателю осуществляет Агент.
        | Исчисление срока хранения начинается с момента передачи Товара Принципалом в ПВЗ, что удостоверяется подписанием
        | Сторонами Акта временного хранения. В случае если Покупатель в течение 7 (Семи) календарных дней с даты передачи
        | Товара Принципалом в ПВЗ не забрал Товар, Агент уведомляет Принципала о необходимости вывезти Товар в течение
        | 24 часов с момента направления Агент уведомления. По истечении 24 часов с момента направления Агентом уведомления
        | Принципалу стоимость дополнительного хранения Товара рассчитывается в соответствии с
        |
        a(href='#prolozhenie1') Приложением «Модели работы, агентское вознаграждение и тарифы Cheapollo»
        | .
      p 4.9. Агент не несет ответственности за незначительное повреждение транспортной упаковки Товара во время хранения в виде:
      ul
        li - небольших вмятин, не приведших к повреждению товара и упаковки товара, при ее наличии;
        li - незначительных надрывов (менее 10% от площади упаковки);
        li - незначительных пятен (менее 15% от площади упаковки), не приведших к потере свойств транспортной упаковки.
      p.
        4.10. Агент не несет ответственность за состояние Товара, требующего особых условий хранения, которые не были с ним согласованы.
      p
        | 4.11. Принципал напрямую общается с Покупателем через ЛК по вопросам, связанным с товарами. Принципал гарантирует,
        | что все его решения и действия соответствуют требованиям Договора,
        |
        a(href='#prolozhenie4') Приложению «Правила общения с Покупателями Cheapollo»
        |
        | и требованиям действующего законодательства.
      p.
        4.12. Агент имеет право по поручению Принципала, либо с его предполагаемого согласия (в случае несоблюдения им сроков вывоза товаров) реализовывать Товары Принципала от своего имени.
      p.
        4.13. Агент имеет право отменять Заказы Принципала, если он ненадлежащим образом исполнил обязательства по Договору. Такая отмена не признается нарушением Агента обязательств по Договору. Принципал несет ответственность за все негативные последствия такой отмены, включая претензии или требования, предъявленные Покупателем, а также снижение показателей качества сервиса. Принципал имеет право отменять свои Заказы, однако несет ответственность за все негативные последствия такой отмены, включая претензии или требования, предъявленные Покупателем, а также снижение показателей качества сервиса. Отменой Заказа со стороны Принципала также признается получение информации от выбранной Принципалом Службы доставки об отмене Заказа.
      h2 5. Порядок расчетов
      p
        | 5.1. Принципал обязуется ежемесячно в установленные Договором сроки уплачивать Агенту Агентское вознаграждение,
        | стоимость фактически оказанных дополнительных услуг, начисленных штрафов и санкции, а также сумму иных установленных
        | Договором платежей. Размер Агентского вознаграждения и стоимость дополнительных услуг указаны в
        |
        a(href='#prolozhenie1') Приложении «Модели работы, агентское вознаграждение и тарифы Cheapollo»
        | . Агентское вознаграждение, стоимость фактически оказанных дополнительных услуг и начисленные штрафы и санкции рассчитываются Агентом в Отчете Агента. Уплата Агентского вознаграждения, стоимости фактически оказанных дополнительных услуг и начисленных штрафов и санкций осуществляется в порядке, установленном п. 5.9. Договора.
      p.
        5.2. Агент вправе в одностороннем порядке изменять размер Агентского вознаграждения, стоимость дополнительных услуг и размер штраф в установленном Договором порядке.
      p.
        5.3. Агент удерживает денежные средства, причитающиеся ему по настоящему Договору (в соответствии с п. 5.1. Договора)  из любых денежных средств, поступивших к нему за счет Принципала. В момент исполнения Агентом обязанности по перечислению денежных средств, вырученных от реализации Товара, за вычетом денежных средств, причитающиеся ему по настоящему Договору, обязательства Принципала по уплате Агентского вознаграждения, стоимости фактически оказанных услуг, начисленных штрафов и санкций и Агента по перечислению сумм, вырученных от реализации Товара, в сумме эквивалентной сумме удержания, произведенного Агентом при перечислении, признаются автоматически прекращенными зачетом без дополнительных заявлений сторон или соглашений.
      p
        | 5.4. Агент не предоставляет Принципалу документы, подтверждающие несение Агентом издержек за исключением случаев
        | направления Принципалом на адрес электронной почты
        |
        a(href='mailto:seller@cheapollo.ru') seller@cheapollo.ru
        |
        | не позднее чем по истечении 30 (Тридцати) календарных дней с момента получения Принципалом Отчета Агента запроса о предоставлении таких документов. В случае направления указанного запроса стороны признают достаточным подтверждением размера понесенных издержек документы, подтверждающие оказание третьими лицами соответствующих услуг в отношении товаров Принципала (отчеты или акты приемки оказанных услуг).
      p.
        5.5. В случае возврата Товара Покупателем Агент не обязан перечислять Принципалу денежные средства за данный Товар, а если уже перечислил, Агент в одностороннем порядке уменьшает сумму любых денежных средств, поступивших к нему за счет Принципала и подлежащих перечислению Принципалу, на стоимость такого Товара, либо при отсутствии денежных средств Принципал обязан возвратить Агенту сумму за такой Товар в течение 5 (Пяти) календарных дней с момента выставления Агентом счета на сумму возвращенного Товара.
      p.
        5.6. В случае утраты, недостачи или повреждения имущества Принципала Агентом возмещается разница между ценой реализации Товара и Агентского вознаграждения, установленной Агентом. В случае если Цена реализации Товара, установленная Принципалом, завышена, в целях применения настоящего положения Договора Ценой реализации Товара признается нижняя граница цены идентичного Товара на Сайте и иных сайтах (Ozon, OBI, Petrovich.ru, «Яндекс.Маркет», «СберМегаМаркет» и других).
      p.
        5.7. Агент вправе самостоятельно снизить цену Товара Принципала в пределах размера Агентского вознаграждения за счёт его уменьшения.
      p.
        5.8. В ЛК Принципала за периоды (с 1 по 15 число месяца и с 16 числа месяца по конец месяца) в течение 3 (Трех) рабочих дней с момента окончания данных периодов формируются отчеты за период, в которые включаются Заказы / Товары по истечении 7 (Семи) календарных дней с момента получения Заказа / Товара Покупателем.
      p.
        5.9. Агент перечисляет Принципалу денежные средства за вычетом сумм, причитающихся Агенту (в соответствии с п. 5.1. Договора) дважды в месяц в следующем порядке:
      ul
        li - В течение 3 (Трёх) рабочих дней с момента формирования Отчета за период в ЛК (за период с 1 по 15 числа месяца) на банковский счёт Принципала;
        li - В течение 3 (Трёх) рабочих дней с момента формирования Отчета за период в ЛК (за период с 16 числа месяца по конец месяца) на банковский счёт Принципала.
      p.
        До момента регистрации Принципала в ЛК перечисление денежных средств за вычетом сумм, причитающихся Агенту (в соответствии с п. 5.1. Договора) осуществляется в течение 3 (Трёх) рабочих дней с момента направления Агентом Отчёта за период на электронную почту Принципала.
      p.
        5.10. Агент в течение 5 (Пяти) рабочих дней с окончания каждого отчётного периода (календарного месяца) направляет Принципалу по адресу электронной почты или в ЛК следующие документы (Отчетные документы):
      ul
        li - Отчет Агента;
        li - Акт на выполненные работ, который включает в себя общую сумму вознаграждения Агента за календарный месяц, сформированную на основании Отчетов Агентов;
        li
          | - Акт на фактически оказанные дополнительные услуги в соответствии с
          |
          a(href="#prolozhenie1") Приложением «Модели работы, агентское вознаграждение и тарифы Cheapollo»
          | .
        li - при необходимости, иные документы
      p.
        5.11. Форма Отчета Агента закрепляется Приложением Отчет Агента настоящего Договора.
      p.
        5.12. Стороны признают, что направление Отчетных документов по электронной почте или в ЛК является необходимым и достаточным подтверждением:
      ul
        li - надлежащего исполнения Агентом обязанности по направлению Отчетных документов;
        li - принятия оказанных Агентом услуг в полном объеме в случае отсутствия разногласий со стороны Принципала, направленных в предусмотренном Договором порядке.
      p.
        5.13. В случае если со стороны Принципала в течение 5 (Пяти) дней не поступало мотивированных возражений, Отчет считается принятым Принципалом (при этом датой согласования документа будет последний день срока, предусмотренного для направления Принципалом мотивированных возражений). В случае поступления от Принципала мотивированных возражений на представленные Агентом отчётные документы, Агент в течение 5 (Пяти) дней рассматривает полученные возражения и направляет Принципалу мотивированный ответ.
      p
        | 5.14. По окончании каждого календарного квартала не позднее 15 числа следующего месяца Агент отправляет по адресу
        | электронной почты или размещает в ЛК акт сверки с Принципалом за прошедший календарный квартал. В случае если в
        | течение 10 (Десяти) календарных дней с даты направления Агентом акта сверки Принципал не направил на электронную почту
        |
        a(href="mailto:seller@cheapollo.ru") seller@cheapollo.ru
        |
        | мотивированных возражений, акт сверки считается принятым Принципалом.
      p.
        5.15. В случае неисполнения Принципалом обязанностей, предусмотренных настоящим Договором, Агент вправе приостановить исполнение любых обязанностей, предусматривающих выплату Принципалу со стороны Агента денежных средств до устранения соответствующего нарушения.
      p.
        5.16. Расчеты по настоящему Договору осуществляются в рублях РФ. Платежные обязательства Сторон считаются исполненными с даты списания денежных средств с расчетного счета соответствующей Стороны.
      p.
        5.17. Агент принимает от Покупателя безналичные денежные средства в счет оплаты приобретаемых Покупателем у Принципала Товаров по договору купли-продажи, заключаемого между Покупателем и Принципалом, и является получателем платежа в качестве агента Принципала.
      p.
        5.18. Агент выдает Покупателю кассовый чек в соответствии с требованиями Федерального закона «О применении контрольно-кассовой техники при осуществлении расчетов в Российской Федерации» от 22.05.2003 N 54-ФЗ. Кассовый чек формируется Агентом и помимо информации, характеризующей Агента как владельца Сайта, содержит информацию о Принципале (наименование и ИНН).
      h2 6. Уведомления и обмен информацией
      p.
        6.1. Если Договором прямо не предусмотрено иное, любая официальная коммуникация между Сторонами и все уведомления по Договору:
      ul
        li
          | 6.1.1. оформляются в виде электронных сообщений на русском языке и направляются на адрес Электронной почты
          | получателя (Принципалу – на адрес электронной почты, указанный в качестве логина при Регистрации на Сайте или указанный
          | в Договоре, Агенту – на адрес электронной почты:
          |
          a(href="mailto:seller@cheapollo.ru") seller@cheapollo.ru
          | );
        li.
          6.1.2. считаются полученными в день отправки (при отправке с 09:00 до 18:00 по московскому времени) либо на следующий день после отправки (при отправке с 18:00 до 09:00 по московскому времени).
        li.
          6.1.3. Принципал обязуется регулярно проверять ЛК и электронную почту. Агент не отвечает за любые негативные последствия в связи с несвоевременным ознакомлением Принципала с уведомлениями.
        li
          | 6.1.4. Стороны обязаны сообщать друг другу об изменениях своих юридических адресов, реквизитов, номеров телефонов
          | и адресов электронной почты,  не позднее чем в течение 2 (Двух) рабочих дней со дня такого изменения. Принципал
          | обязан сообщить Агенту об изменении системы налогообложения, в течение 1 (Одного) рабочего дня с даты изменений.
          | Агент вносит изменения в информацию о Принципале на Сайте в течение 1 (Одного) рабочего дня, а в платежные
          | реквизиты – в течение 7 (Семи) рабочих дней с даты сообщения. Обязанности Агента, исполненные до уведомления
          | Принципала об изменениях  по старым адреса и реквизитам, признаются исполненными надлежащим образом. О любых
          | изменениях данных, указанных в заявлении-оферте Принципал обязуется уведомлять Агента по электронной почте
          |
          a(href="mailto:seller@cheapollo.ru") seller@cheapollo.ru
          | , с досылкой оригинала такого уведомления по почте (либо курьером) по адресу, указанному в Договоре.
        li
          | 6.1.5. Агент консультирует Принципала по электронному адресу
          |
          a(href="seller@cheapollo.ru") seller@cheapollo.ru
          |
          | по любым вопросам, связанным с продажей Товаров на Сайте.
        li.
          6.1.6. Принципал подтверждает свое согласие на получение от Агента любых Уведомлений по электронной почте и по номеру телефона, указанным в ЛК и в Договоре, в том числе, но не ограничиваясь, информационно-рекламных уведомлений о сервисах и продуктах Агента.
        li.
          6.1.7. Принципал соглашается с тем, что в Заказы, содержащие Товары Принципала, могут быть дополнительно вложены рекламные материалы и/или образцы Товаров иных Продавцов в рекламных целях.
        li.
          6.1.8. Принципал обязан обеспечить возможность для ежедневной (в том числе в выходные дни) связи представителя Агента с представителем Принципала для разрешения вопросов, которые могут возникнуть в ходе исполнения Договора и в ходе исполнения Заказов Покупателей.
      h2 7. Ответственность Сторон
      p.
        7.1. В случае неисполнения или ненадлежащего исполнения Сторонами своих обязательств по Договору (в том числе приложениями к нему), Стороны несут ответственность согласно условиям Договора (в том числе приложениями к нему), а в части, не урегулированной Договором – в соответствии с законодательством РФ.
      p.
        7.2. В случае нарушения Принципалом любых условий настоящего Договора, действующего законодательства РФ, гарантий, предоставления недостоверной информации, а также предъявления к Агенту каких-либо претензий, требований, исков со стороны третьих лиц, связанных с:  нарушением их исключительных прав, вызванных неправомерным введением Товара в гражданский оборот, незаконным использованием в отношении Товара товарных знаков, правообладателями которых являются данные третьи лица, или  несоответствием Товара требованиям и гарантиям, установленным Договором или законодательством РФ, или  предоставления недостоверных/поддельных/не соответствующих требованиям законодательства РФ/полученных с нарушением требований законодательства РФ сертификатов/деклараций соответствия, либо нарушения Принципалом установленного Договором срока предоставления документов, Принципал обязуется оказывать Агенту необходимое содействие в урегулировании таких претензий, требований, исков, а также возместить Агенту все понесенные им убытки (расходы, ущерб, вред и т.д.), вызванные такими претензиями, требованиями и исками, включая, но не ограничиваясь, суммы штрафов и компенсаций и иные суммы, взысканные судебным актом, вынесенным по делу, прямо или косвенно связанным с таким нарушением, в срок, не превышающий 7 (Семь) календарных дней с даты получения от Агента соответствующего документально подтвержденного требования.
      p.
        7.3. Компенсация убытков согласно условиям Договора или Приложений к нему начисляются и выплачиваются, в том числе путем удержания, на основании требования, направленного Агентом в ЛК или на электронную почту Принципала.
      p.
        7.4. Стороны согласовали, что:
      ul
        li.
          7.4.1. любые требования к Агенту по Договору или в связи с ним ограничиваются возмещением реального ущерба и ни при каких обстоятельствах не включают упущенную выгоду или иные косвенные убытки;
        li.
          7.4.2. Агент освобождается от ответственности за неисполнение или ненадлежащее исполнение своих обязательств, если Принципал не сообщил Агенту о своей претензии в течение 14 (четырнадцати) календарных дней с момента, когда Принципал узнал или должен был узнать о возникновении оснований для такой претензии;
        li.
          7.4.3. Агент не несет ответственность по сделкам с Покупателями, заключенными Агентом от имени и за счет Принципала в рамках исполнения настоящего Договора, кроме случаев, когда нарушение прав Покупателя возникло по вине Агента, в таком случае Агент возместит Принципалу документально подтвержденные убытки, причиненные Покупателю вследствие предъявления ему соответствующих требований или претензий, если Принципал незамедлительно уведомит Агента об их поступлении и привлечет Агента к участию в рассмотрении. Агент ни при каких обстоятельствах не несет ответственности за качество переданного Покупателю Товара в неповрежденной заводской упаковке или упаковке Принципала, на которой отсутствуют следы вскрытия; Агент не может выступать ответчиком по любым гражданским, арбитражным или уголовным спорам с Покупателем без отдельного поручения Принципала;
        li.
          7.4.4. Агент не несёт ответственности за неисполнение или ненадлежащее исполнение своих обязательств, если Принципал предоставил Агенту недостоверные, неполные, неточные или вводящие в заблуждение сведения (информацию).
      p.
        7.5. В случае, если Агент обнаружит Товар, за который ранее выплатил Принципалу возмещение в связи с его утратой, Агент имеет право по своему выбору осуществить продажу такого Товара от своего имени по своему усмотрению (Стороны признают, что в таком случае у Агента возникает право собственности на такой Товар) либо вернуть Товар Принципалу и удержать сумму ранее выплаченного возмещения.
      p.
        7.6. Стороны не несут ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору, если оно вызвано действием чрезвычайных и непредотвратимых обстоятельств (обстоятельствами непреодолимой силы), которые подтверждены документами компетентных органов. Если обстоятельства непреодолимой силы непрерывно продолжаются более 3 (Трёх) месяцев, то любая Сторона вправе отказаться от исполнения Договора без возмещения ущерба другой Стороне.
      p.
        7.7. Принципал заявляет, гарантирует и обязуется в отношении Договора:
      ul
        li.
          7.7.1. следовать всему применимому законодательству, включая законам и постановлениям государственных органов, имеющих отношение к юрисдикции деятельности каждой из Сторон или к юрисдикции, имеющей отношение к Договору.
        li.
          7.7.2. При выполнении Договора Принципал не будет прямо или косвенно участвовать в каких-либо запрещённых применимым законодательством действиях.
        li.
          7.7.3. В случае изменения применимого законодательства, которое может повлиять на Договор, или если Агент предполагает, что он не может выполнять свои обязательства по Договору из-за этих изменений, Агент вправе немедленно прекратить действие Договора в одностороннем порядке. При этом Принципал освобождает Агента от всех обязательств по Договору.
      h2 8. Порядок изменения, приостановления и расторжения Договора
      p.
        8.1. Агент вправе в одностороннем порядке вносить изменения и/или дополнения в Договор, а также в любые Правила и иные документы, созданные в рамках Договора. Изменения и дополнения к Договору могут вносится в том числе в виде новой редакции текста Оферты, Правил или иного документа.
      p.
        8.2. Все ранее заключенные Договоры теряют силу с момента вступления в действие настоящего Договора.
      p.
        8.3. Размещение изменений и/или дополнений в Договор и/или приложению к нему и/или Оферты (Правил, иного документа) в новой редакции на Сайте означает надлежащее исполнение Агента обязанности по уведомлению Принципала. Принципал обязуется самостоятельно контролировать наличие/отсутствие изменений/дополнений Оферты (Правил, иного документа) в новой редакции на Сайте.
      p.
        8.4. Оферта считается принятой Принципалом, в случае если Принципал продолжает пользоваться Сайтом и услугами Агента после опубликования на Сайте изменений и/или дополнений.
      p.
        8.5. В случае заключения Договора, в соответствии с п. 3.11. Договора, все изменения/или дополнения осуществляются в том же порядке.
      p.
        8.6. Агент вправе в одностороннем порядке полностью либо частично до устранения Принципалом указанных в настоящем пункте обстоятельств приостановить исполнение своих обязательств по Договору, уведомив об этом Принципала, если:
      ul
        li.
          8.6.1. показатели качества сервиса Принципала снижаются до критических показателей, определяемых Агентом;
        li.
          8.6.2. у Принципала имеется задолженность по оплате любых сумм по Договору;
        li.
          8.6.3. Принципал не соблюдает условия Договора или нарушает права третьих лиц;
        li.
          8.6.4. по техническим или иным причинам. В течение срока приостановления плата за услуги, прямо затронутые таким приостановлением, не взимается.
      p.
        8.7. Агент также вправе приостановить исполнение обязательств в отношении конкретного товара, если он имеет недостатки, не согласованные Сторонами, или состояние Товара не соответствует Карточке товара или требованиям Договора или установленным законодательством, нормативно-техническим и иным требованиям.
      p.
        8.8. Любая Сторона может расторгнуть Договор во внесудебном порядке путем направления соответствующего уведомления по адресу электронной почты другой Стороны — Получателя. Дата расторжения — последний календарный день отчетного периода, следующего за отчетным периодом, в котором Стороной было направлено уведомление. Принципал вправе в одностороннем внесудебном порядке отказаться от исполнения Договора в случае несогласия с изменениями в Договоре. Дата расторжения – 7 (седьмой) день с даты направления уведомления в установленном договором порядке в зависимости от формы заключения Договора.
      p.
        8.9. В следующих случаях Агент вправе в одностороннем внесудебном порядке отказаться от исполнения Договора путём направления уведомления по адресу электронной почты Принципала или в ЛК, при этом датой расторжения будет дата направления уведомления:
      ul
        li.
          8.9.1. если любая предоставленная информация оказывается недостоверной, недействительной, неточной или вводящей в заблуждение;
        li.
          8.9.2. если Принципал допускает существенные нарушения обязательств по Договору, такие как: предоставление недостоверной информации о товаре, непредоставление информации по запросу Агента или препятствие Агенту в проведении проверок товара и Карточек товара на предмет соответствия требованиям Договора, нарушение исключительных или иных прав третьих лиц, передача некачественного товара либо контрафакта для реализации, нарушение платежных обязательств, неоднократный невывоз Товаров в соответствии с условиями Договора, нарушение любых норм действующего законодательства, ухудшение показателей качества сервиса Принципала до критического уровня; или в иных случаях, предусмотренных законодательством или Договором.
      p.
        8.10. Расторжение Договора осуществляется в следующем порядке:
      ul
        li.
          8.10.1. в дату расторжения Договора Агент прекращает оказание Услуг по Договору (за исключением услуг, связанных с исполнением принятых, но не выполненных до даты расторжения Заказов, а также с возвратами Покупателей, а при одностороннем отказе Агента – любых услуг) и делает Товары Принципала на Сайте недоступными к продаже;
        li.
          8.10.2. не позднее даты расторжения (либо в 5 (пяти)дневный (календарные) срок при одностороннем отказе Агента) Принципал обязуется осуществить вывоз принадлежащего ему Товара c ПВЗ;
        li.
          8.10.3. не позднее даты расторжения (либо в 5 (пяти)дневный (календарные) срок при одностороннем отказе Агента) Стороны проводят окончательную сверку взаиморасчетов. Если после расторжения Договора Агент получает возвраты проданных до расторжения договора Товаров от Покупателей, Агент возвращает Покупателю уплаченные за Товар денежные средства, а Принципал обязан возместить Агенту указанные денежные средства в течение 5 (пяти) календарных дней с даты направления Агентом соответствующего требования и вывезти возвращённый Покупателем Товар из ПВЗ. Требование о возмещении Принципалом денежных средств, возвращённых Агентом Покупателю, и вывозе возвращенного Покупателем Товара направляется по адресу электронной почты, указанной Принципалом при Регистрации на Сайте или при заключении Договора.
      p.
        8.11. Расторжение Договора не снимает со Сторон обязанности исполнения финансовых обязательств по Договору.
      h2 9. Срок Договора
      p.
        9.1. Настоящий договор заключается на неопределенный срок.
      h2 10. Порядок разрешения споров
      p.
        10.1. Все споры и разногласия по настоящему Договору разрешаются сторонами путем переговоров с соблюдением претензионного порядка.
      p.
        10.2. Срок ответа на претензию 10 (Десять) рабочих дней с даты её направления соответствующей Стороной. В случае неполучения Стороной ответа на претензию в течение указанного в настоящем пункте срока, претензионный порядок досудебного разрешения спора считается исполненным, и у Стороны возникает право для обращения в суд.
      p.
        10.3. В случае не достижения согласия путем переговоров спор подлежит рассмотрению в Арбитражном суде Кировской области.
      h2 11. Заключительные положения
      p.
        11.1. К правоотношениям между Агентом и Принципалом применяются положения ГК РФ об агентировании (глава 52 ГК РФ), о возмездном оказании услуг (глава 39 ГК РФ), о комиссии (глава 51 ГК РФ), о хранении (глава 47 ГК РФ), в случае если Принципал пользуется услугами доставки — о перевозке (глава 40 ГК РФ), и иные правовые акты, принятые в соответствии с ними. Договор является рамочным договором (ст. 429.1). Договор не является публичным (ст. 426).
      p.
        11.2. Недействительность отдельных положений Договора не затрагивает действительность остальных положений Договора и Договора в целом.
      p.
        11.3. Все приложения к настоящему Договору являются его неотъемлемыми частями.
      h2 Приложения к Договору:
      p
        a(href="#prilozhenie1" data-role="scroll-to-anchor") Приложение № 1: Модели работы, агентское вознаграждение и тарифы Cheapollo
      p
        a(href="#prilozhenie2" data-role="scroll-to-anchor") Приложение № 2: Форма отчета Агента
      p
        a(href="#prilozhenie3" data-role="scroll-to-anchor") Приложение № 3: Пакет документов, предоставляемый Принципалом для заключения Договора
      p
        a(href="#prilozhenie4" data-role="scroll-to-anchor") Приложение № 4: Правила общения с Покупателями Cheapollo
      p
        a(href="/terms-of-use") Пользовательское соглашение на сайте Cheapollo.ru
      p
        a(href="#prilozhenie5" data-role="scroll-to-anchor") Приложение № 5: Правила упаковки и маркировки Товара
      p
        a(href="#prilozhenie6" data-role="scroll-to-anchor") Приложение № 6: Конфиденциальность и персональные данные
      p
        a(href="#prilozhenie7" data-role="scroll-to-anchor") Приложение № 7: Возврат Товара
      p
        a(href="#prilozhenie8" data-role="scroll-to-anchor") Приложение № 8: Требования к Товару и к оформлению Карточки товара
      h2 12. Адреса и реквизиты
      p ООО «ЧИПОЛЛО»
      p г. Киров
      p ОГРН 1204300011233
      p ИНН 4345506892
      p КПП 434501001
      p Расчетный счёт 40702810727000015050
      p Корр. Счёт 30101810500000000609
      p ПАО «Сбербанк»
      p БИК 043304609
      p +7 995 103 14 27
      p seller@cheapollo.ru
      p Директор: Чернышева Н. Ю.
      h2#prilozhenie1 Приложение № 1 к Агентскому договору Cheapollo: модели работы, агентское вознаграждение и тарифы Cheapollo
      p.
        1. Принципал самостоятельно выбирает одну из моделей работы по Заказу Покупателя, указав выбранную модель в ЛК:
      ul
        li 1.1. FBS (Fulfillment by Seller, продажи с фулфилментом Принципала):
        li
          ul
            li 1.1.1. Заказ Покупателя отображается в ЛК Принципала и Принципал обязан собрать, упаковать, маркировать и доставить Товар в ПВЗ, указанное в Заказе в срок в зависимости от статуса Товара (Товар со статусом «В наличии» — в течение 24 часов; Товар со статусом «Под заказ» — в установленные Принципалом, при создании Товара, сроки)
            li 1.1.2. Доставка до ПВЗ осуществляется одним из выбранных Принципалом способом:
            li
              ul
                li 1.1.2.1. Принципал самостоятельно доставляет Товар на ПВЗ, указанный Покупателем в Заказе. Выдачу Товара Покупателю или дальнейшую доставку до Покупателя осуществляет Агент. Принципал не оплачивает услуги Агента по доставке Товара до Покупателя.
                li 1.1.2.2. Агент за счёт Принципала оказывает услугу по доставке Товара от Принципала до ПВЗ. Принципал обязуется оплатить услугу по доставке Товара от Принципала до ПВЗ в соответствии с условиями Договора. Стоимость доставки Заказа со склада/магазина Принципала до ПВЗ и порядок расчетов определяется индивидуально в зависимости от места нахождения и объемно-весовых характеристик Товара Принципала, согласовывается сторонами дополнительно и отображается в ЛК.
            li 1.1.3. Агент вправе привлекать третьих лиц для оказания услуги по доставке.
        li 1.2. DBS (Delivery by Seller, продажи с доставкой Принципала)
        li
          ul
            li 1.2.1. Заказ Покупателя отображается в ЛК Принципала и Принципал обязан собрать, упаковать, маркировать и доставить Товар Покупателю по адресу, указанному в Заказе и в срок, определенный статусом Товара (Товар со статусом «В наличии» — в течение 24 часов; Товар со статусом «Под заказ» — в установленные Принципалом, при создании Товара, сроки). Принципал самостоятельно организует доставку Товара и контролирует её.
            li 1.2.2. Принципал самостоятельно доставляет Заказ Покупателю при этом стоимость доставки для Покупателей фиксированная и тарифицируется Агентом (в зависимости от типа доставки и типа доставляемого Товара). Оплату Покупателя за Доставку Агент в полном объеме начисляет Принципалу в отчетный период.
            li 1.2.3. Принципал обязуется своевременно отображать в ЛК актуальный статус Заказа.
            li 1.2.4. Принципал несет полную ответственность перед Агентом и Покупателем, связанную с ненадлежащим исполнением обязательств определенных данной моделью работы с Заказом Покупателя.
        li 1.3. В дополнение к моделям по работе с Заказом Покупательов указанным в п. 1.1. и п. 1.2. Принципал может через ЛК к определенным Товарам подключить услугу «Закажи и забери», в рамках которой Принципал заполняет в ЛК адрес и режим работы своего магазина и обязуется осуществить возможность выдачи Заказа Покупателю через 15 минут с момента поступления Заказа в ЛК в указанном магазине.
      p.
        Агент удерживает Агентское вознаграждение только с проданных Товаров и в случае отмены Заказа Принципалом. Агентское вознаграждение включает в себя:
      ul
        li - расходы по эквайрингу и кассовому обслуживанию согласно 54 ФЗ;
        li - хранение Товаров в ПВЗ сроком до 8 (Восьми) календарных дней;
        li - складскую обработку, сборку, консолидацию Заказа и подготовку к отправке;
        li - выдачу Заказа в ПВЗ или передачу курьерской службе;
        li - услуги по организации и выполнению адресной доставки Товара Покупателю, включая выбор перевозчика и заключение с ним договора перевозки, выполнение перевозки избранным перевозчиком согласно заключенному договору;
        li - информационные услуги по уведомлению Принципала;
        li - Покупательский сервис;
        li - упоминание и ссылки в Email рассылках и социальных сетях;
        li - рекламу.
        li 2.1. Размер Агентского вознаграждения зависит от категории Товара. Агентское вознаграждение составляет 5%, 8%, 10%, 15% в зависимости от категории (Таблица 1). В случае, если категория не представлена, устанавливается Стандартное Агентское вознаграждение (15%).
      h4 Таблица 1. Размер Агентского вознаграждения по категориям
      section
        table
          tr
            th Категория
            th Агентское вознаграждение, %
          tr
            td Сухие смеси и грунтовки
            td 5
          tr
            td Теплоизоляция и шумоизоляция
            td 5
          tr
            td Металлопрокат
            td 5
          tr
            td Материалы для сухого строительства
            td 5
          tr
            td Стеновые и фасадные материалы
            td 5
          tr
            td Материалы для заборов и ограждений
            td 5
          tr
            td Кровля и водосточные системы
            td 5
          tr
            td Ручной инструмент
            td 10
          tr
            td Ударно-рычажный инструмент
            td 10
          tr
            td Измерительный инструмент
            td 10
          tr
            td Малярный инструмент
            td 10
          tr
            td Валики
            td 10
          tr
            td Электроинструмент
            td 10
          tr
            td Расходные материалы для электроинструмента
            td 10
          tr
            td Бензоинструмент
            td 10
          tr
            td Спецодежда и средства защиты
            td 10
          tr
            td Газовое и сварочное оборудование
            td 10
          tr
            td Измерительные инструменты
            td 10
          tr
            td Силовая и строительная техника
            td 10
          tr
            td Высотные конструкции
            td 10
          tr
            td Абразивные материалы
            td 10
          tr
            td Розетки и выключатели
            td 8
          tr
            td Автоматы, щиты, счетчики
            td 8
          tr
            td Освещение
            td 15
          tr
            td Фонари и элементы питания
            td 15
          tr
            td Системы наблюдения и оповещения
            td 8
          tr
            td Удлинители, разъемы и комплектующие
            td 8
          tr
            td Все для электромонтажа
            td 8
          tr
            td Кабели и провода
            td 8
          tr
            td Системы прокладки кабеля
            td 8
          tr
            td Ванны и экраны
            td 8
          tr
            td Раковины, пьедесталы и комплектующие
            td 8
          tr
            td Душевые кабины и ограждения
            td 8
          tr
            td Полотенцесушители и комплектующие
            td 8
          tr
            td Смесители и душевое оборудование
            td 8
          tr
            td Унитазы и инсталляции
            td 8
          tr
            td Мебель для ванной комнаты
            td 8
          tr
            td Мойки и смесители для кухни
            td 8
          tr
            td Сифоны
            td 8
          tr
            td Мебель для дома
            td 8
          tr
            td Двери и скобяные изделия
            td 5
          tr
            td Напольные покрытия
            td 8
          tr
            td Окна и комплектующие
            td 8
          tr
            td Мебельная фурнитура
            td 15
          tr
            td Обои
            td 8
          tr
            td Пены, клеи, герметики
            td 5
          tr
            td Лакокрасочные материалы
            td 5
          tr
            td Керамическая плитка
            td 8
          tr
            td Оформление окна
            td 15
          tr
            td Панели для отделки стен
            td 10
          tr
            td Анкера
            td 10
          tr
            td Гвозди
            td 10
          tr
            td Дюбели и дюбель-гвозди
            td 10
          tr
            td Заклепки
            td 10
          tr
            td Саморезы и шурупы
            td 10
          tr
            td Крепеж для деревянных конструкций
            td 10
          tr
            td Крепеж для окон
            td 10
          tr
            td Крепеж для фасадных систем
            td 10
          tr
            td Настенные кронштейны
            td 10
          tr
            td Метрический крепеж
            td 10
          tr
            td Скрытый крепеж
            td 10
          tr
            td Кровельный крепеж
            td 10
          tr
            td Такелаж
            td 10
          tr
            td Водоснабжение
            td 5
          tr
            td Газоснабжение
            td 5
          tr
            td Дренажные системы
            td 5
          tr
            td Канализация
            td 5
          tr
            td Ревизионные люки
            td 5
          tr
            td Отопление
            td 5
          tr
            td Вентиляция
            td 5
          tr
            td Осушители
            td 5
          tr
            td Системы охлаждения
            td 8
          tr
            td Системы обогрева
            td 8
          tr
            td Печное оборудование
            td 5
          tr
            td Товары для отдыха
            td 15
          tr
            td Надувные матрасы
            td 15
          tr
            td Системы хранения
            td 10
          tr
            td Моющая техника и аксессуары
            td 10
          tr
            td Садовая техника
            td 10
          tr
            td Обустройство сада
            td 10
          tr
            td Садовая мебель
            td 10
          tr
            td Садовый инструмент
            td 10
      ul
        li 2.2. В случае несоблюдения Принципалом сроков, установленных выбранной моделью работы с Заказом Покупателя (по передаче Товара в ПВЗ, в соответствии с режимом работы ПВЗ / передаче Транспортной компании / вручению Покупателю в выбранный Покупателем период времени (в случае адресной доставки)) размер Агентского вознаграждения увеличивается в следующем порядке:
      h4 Таблица 2. Размер увеличения Агентского вознаграждения при несоблюдении сроков отгрузки Товара
      section
        table
          tr
            th Просрок
            th Размер Агентского вознаграждения
          tr
            td до 4 часов
            td Установленное Агентское вознаграждение + 2%
          tr
            td до 8 часов
            td Установленное Агентское вознаграждение + 4%
          tr
            td до 12 часов
            td Установленное Агентское вознаграждение + 8%
          tr
            td свыше 12 часов и отмена
            td 20%
      p.
        3. При исполнении Договора Агент оказывает Принципалу, а Принципал обязуется оплатить услуги по:
      ul
        li 3.1. Дополнительному хранению и складской обработке Товара в ПВЗ, в соответствии с условиями Договора. Стоимость услуги дополнительного хранения определяется из расчёта 15 (Пятнадцать) рублей за каждую единицу Товара в сутки и 30 (тридцать) рублей за каждую единицу Товара в сутки для крупногабаритных Товаров (весом более 15 кг и размером в сумме трёх сторон более 150 см).
        li 3.2. Приведению Товара в соответствие с требованиями к упаковке и маркировке, изложенными в разделе 9 настоящего Договора (Оферты) «Правила упаковки и маркировки Товара». В случае если упаковка и маркировка Товара не соответствует требованиям, Агент вправе оказать услугу доупаковки и домаркировки Товара, не нарушая упаковки Принципала. Также услуга оказывается при возврате Покупателем вскрытого Товара, Агент заклеивает вскрытую транспортную упаковку, либо заменяет ее. Стоимость данной услуги определяется из расчёта 10 (Десять) рублей за каждую единицу Товара и 20 (Двадцать) рублей за каждую единицу Товара для крупногабаритных Товаров ((весом более 15 кг и размером в сумме трёх сторон более 150 см).
        li 3.3. Организации доставки Товара до Покупателя и доставки Товара от Покупателя в ПВЗ, в случае отказа Покупателя от Товара. Доставка Товара до ПВЗ (до места назначения) при отказе Покупателя от его приёмки осуществляется за счёт Принципала. В случае отказа Покупателя от Товара, в связи с его ненадлежащим качеством, недостоверной информацией о Товаре и по  иным обстоятельствам, за которые отвечает Принципал, Принципал осуществляет оплату доставки Товара от Покупателя и возмещает Агенту стоимость доставки Товара до Покупателя.
        li 3.4. По утилизации, либо реализации Товара. В случае если Принципал не вывозит Товар в течение 14 (Четырнадцати) календарных дней с даты направления соответствующего уведомления, Агент по собственному выбору принимает решение об утилизации, либо реализации Товара. В случае утилизации, все расходы, связанные с утилизацией подлежат возмещению Принципалом дополнительно к стоимости дополнительного хранения Товара. В случае реализации Товара, вырученная от реализации Товара сумма принадлежит Агенту и не подлежит передаче Принципалу. В случае, если вырученная от реализации сумма не покрывает стоимость дополнительного хранения и расходы по реализации Товара, Принципал дополнительно возмещает Агенту все расходы, не покрытые вырученной от реализации Товара суммой.
        li 3.5. По обслуживанию Заказа в случае возврата Покупателем Товара, либо отказа от получения Покупателем Товара (операционное обслуживание, оформление возврата, приемка в ПВЗ от Покупателя, подготовка к забору Принципалом) из расчёта 30 (Тридцать) рублей за каждую единицу Товара.
      p.
        4. По поручению и за счёт Принципала Агент в ходе исполнения Договора может оказывать Принципалу следующие дополнительные услуги:
      ul
        li 4.1. Услуги по продвижению:
        li
          ul
            li - Размещение баннеров в основных разделах сайта;
            li - Брендинг значка категории;
            li - Размещение Товаров в блоке «Находка дня»;
            li - Брендированная страница (Shop in Shop);
            li - Размещение фирменного логотипа в карточке Товара;
            li - Почтовые (e-mail) рассылки Покупателям;
            li - Push-уведомления.
        li 4.2. Услуги по созданию контента:
        li
          ul
            li - Создание карточек Товара;
            li - Услуги фотостудии;
            li - Создание баннеров.
        li 4.3. Коммерческие пакеты:
        li
          ul
            li - «Все включено». В пакет входят все предлагаемые услуги по продвижению. Кроме того, мы возьмем на себя создание карточек Товара* (*до 50 позиций) и разработаем 2 баннера для вашей рекламной кампании;
            li - «Базовый». Брендовая страница, Логотип, Баннер на странице категорий, Находка дня.
        li 4.4. Стоимость дополнительных услуг определяется Агентом индивидуально в зависимости от периода продвижения и других специальных условий, согласовывается сторонами дополнительно и отображается в ЛК. Оплата услуг производится после фактического выполнения работ / оказания услуг. Фактическая стоимость выполненных работ / оказанных услуг отражается в акте выполненных работ/оказанных услуг.
      p.
        5. За нарушение Принципалом установленных Договором условий предусмотрены следующие штрафы и санкции. В случае нарушения, Принципал обязуется оплатить Агенту в порядке установленном Договором и Приложениями к Договору:
      ul
        li 5.1. За нарушение Принципалом установленных Договором сроков оплаты Агент вправе требовать от Принципала уплаты неустойки в размере 0,1% от суммы просроченного платежа за каждый день просрочки.
        li 5.2. Основанием для применения штрафных санкций или возмещения ущерба по Договору является претензия, направленная одной из Сторон. Оплата штрафных санкций не освобождает Стороны от надлежащего исполнения своих обязательств по Договору.
        li 5.3. За нарушение Принципалом требований пункта 1.2.3. настоящего Приложения Принципал обязуется уплатить Агенту штраф:
        li
          ul
            li - при стоимости Заказа менее 34 000 (Тридцати четырех тысяч) рублей — в размере 10 000 (десять тысяч) руб. 00 коп.,
            li - при стоимости заказа свыше 34 000 (Тридцати четырёх тысяч) руб. 00 коп. — в размере 30% (Тридцать процентов) от стоимости Заказа.
      h4 Таблица 3. Агентское вознаграждение, дополнительные услуги и штрафы Cheapollo
      section
        table
          tr
            th(rowspan=2) Агентское вознаграждение Cheapollo (р. 2)
            th(colspan=2) Дополнительные услуги Cheapollo
            th(rowspan=2) Штрафы и санкции (р.5)
          tr
            th Вознаграждение за услуги, которые могут быть оказаны в ходе исполнения Договора (р.3)
            th Вознаграждение за дополнительные услуги (при подключении) (р.4)
          tr
            td.
              — Размер Агентского вознаграждения  зависит от категории Товара. Агентское вознаграждение составляет 5%, 8%, 10%, 15% в зависимости от категории (Таблица 1)
              — Увеличивается при нарушении сроков (Таблица 2)
            td.
              —Дополнительное хранение и складская обработка (3.1.)
              —Доупаковка и домаркировка (3.2.)
              —Доставка при отказе Покупателя от Товара (3.3.)
              —Утилизация, либо реализация Товара (3.4.)
              — Обслуживание Возврата Товара (3.5.)
            td.
              — Услуги по продвижению (4.1.)
              — Услуги по созданию контента (4.2.)
              — Коммерческие пакеты (4.3.)
            td.
              — Нарушение сроков оплаты (5.1.)
              — Возмещение ущерба (убытков, расходов, вреда, штрафов и т.д.)  (5.2.)
              — Несвоевременное отражение актуального статуса заказа  (5.3.)
      h2#prilozhenie2 Приложение № 2 к Агентскому договору Cheapollo: отчет Агента
      picture
        img(src=staticImg("otchet_agent.jpg") alt="" loading="lazy")
      h2#prilozhenie3 Приложение № 3 к Агентскому договору Cheapollo: пакет документов, предоставляемый Принципалом для заключения Договора
      p Пакет документов, предоставляемый юридическими лицами:
      ul
        li 1.1. Устав организации со всеми зарегистрированными изменениями и дополнениями;
        li 1.2. Свидетельство о государственной регистрации или лист записи ЕГРЮЛ;
        li 1.3. Свидетельство о постановке на учет в налоговом органе;
        li 1.4. Свидетельство о внесении изменений в ЕГРЮЛ (при наличии);
        li 1.5. Приказ или решение о назначении руководителя;
        li 1.6. Разрешение правообладателя (ей) на использование товарных знаков (при необходимости);
        li 1.7. Копии сертификатов/деклараций на Товар (при необходимости);
      p 2. Пакет документов, предоставляемый индивидуальными предпринимателями:
      ul
        li 2.1. Свидетельство о государственной регистрации ИП или лист записи ЕГРИП;
        li 2.2. Свидетельство о постановке на учет в налоговом органе;
        li 2.3. Разрешение правообладателя (ей) на использование товарных знаков (при необходимости);
        li 2.4. Копии сертификатов/деклараций на Товар (при необходимости);
        li 2.5. Данные паспорта индивидуального предпринимателя, имеющиеся на второй, третьей страницах и странице с регистрацией.
      p 3. В случае, если управляющий магазином не совпадает с ИП/генеральным директором, то дополнительно необходимо предоставить Доверенность.
      h2#prilozhenie4 Приложение № 4 к Агентскому договору Cheapollo: правила общения с Покупателями Cheapollo
      p 1. Покупатель имеет возможность задать вопрос по Товару Принципалу. Уведомление с текстом вопроса отправляется на электронный адрес Принципала, указанный при регистрации в ЛК или в ЛК.
      p 2. Принципал имеет возможность отвечать на отзывы Покупателей на Сайте.
      p 3. При общении с Покупателями (вопросы, отзывы) Агент рекомендует:
      ul
        li 3.1. Срок ответа Покупателю (на вопрос и/или отзыв) не должен превышать 24 часа;
        li 3.2. Ответ Покупателю должен начинаться с личного обращения и не быть шаблонным;
        li 3.3. Придерживаться делового стиля общения;
        li 3.4. Выражать только положительные эмоции, избегать категоричности в речи, конфликтов и споров;
        li 3.5. Не допускать ошибок в тексте, не использовать верхний регистр текста и избыточное количество знаков препинания;
        li 3.6. Общаться вежливо, корректно и доброжелательно, уважать решения и мнение Покупателя.
      p 4. При общении с Покупателями не допускается и влечет за собой блокировку Принципала на Сайте:
      ul
        li 4.1. использование ненормативной лексики или оскорбительного характера (в том числе завуалированные) высказываний, образов, сравнений и выражений, в том числе в отношении пола, расы, национальности, профессии, социальной категории, возраста, языка человека и гражданина, официальных государственных символов, которые могут негативно отразиться на деловой репутации Агента;
        li 4.2. предоставление информации, нарушающей законодательство РФ или права третьих лиц;
        li 4.3. проявление грубого и неэтичного отношения к Покупателю;
        li 4.4. употребление сравнений или приемов, которые унижают конкурентов и их продукцию, использование информации о качестве чужого товара, работы, услуги;
        li 4.5. негативные высказывания в адрес Агента, товаров, работ, услуг, людей, организаций, брендов других продавцов Агента;
        li 4.6. предложение обменяться личными контактами с Покупателями и использование альтернативных способов связи;
        li 4.7. осуществление сбора, копирования, хранения, распространения и любое другое использование каких-либо персональных данных Покупателей;
        li 4.8. предоставление Покупателю недостоверной информации о товарах, работах, услугах;
        li 4.9. введение Покупателя в заблуждение относительно потребительских свойств товаров, работ, услуг;
        li 4.10. реклама и упоминание сторонних ресурсов, организаций, продавцов Агента, в том числе ссылки на внешние ресурсы (все, кроме Сайта, номеров телефонов Агента, адресов Агента и т.п.);
        li 4.11. рассылка спама.
      h2#prilozhenie5 Приложение № 5 к Агентскому договору Cheapollo: правила упаковки и маркировки Товара
      p 1. Перед отправкой в ПВЗ Принципал обязан проверить Товар на качество и полноту комплектации.
      p 2. Товар должен маркироваться упаковочным ярлыком, содержащим следующую информацию: наименование Принципала, код товара в соответствии с указанным на Сайте, наименование Товара, номер Заказа.
      p 3. Упаковка и маркировка Товара должны позволить без вскрытия идентифицировать товар.
      p 4. Тара и упаковка призваны предотвратить несанкционированный доступ к продукции до момента продажи и уберечь содержимое от внешних раздражителей.
      p 5. К упаковке предъявляются следующие требования: безопасность, экологичность, надежность, герметичность. Упаковка не должна существенно превышать размеры вложенного в неё Товара. Материал и конструкция упаковки должны отвечать свойствам помещенных в нее товаров.
      p 6. Упаковка не должна содержать каких-либо повреждений, следов грязи или сырости.
      p 7. Упаковка, должна соответствовать санитарно-гигиеническим нормам.
      p 8. Если у товара по какой-либо причине может испортиться товарный вид: вытечь, окислиться и пр., то его необходимо упаковать дополнительно.
      p 9. Дополнительно упаковывать нужно тот товар, который теряет свой товарный вид при наклейке на него маркировки. В таком случае маркировку необходимо наклеить поверх индивидуальной упаковки товара, а не на сам товар.
      p 10. Если товар представляет из себя комплект, то все его детали следует упаковать вместе, а сверху наклеить единую маркировку. Если маркировка будет присвоена каждой детали товара, Покупателю доставят только одну его часть.
      p 11. Для хрупких товаров предъявляются особые требования к упаковке и безопасной транспортировке. Товары из бьющегося материала должны быть полностью упакованы в защитный материал (пузырчатая пленка).
      p 12. Ответственность за порчу Товара при его доставке, по причине неудовлетворительной упаковки, несет Принципал. Упаковка должна обеспечивать сохранность Товаров при перевозке и хранении, а также иметь привлекательный внешний вид.
      h2#prilozhenie6 Приложение № 6 к Агентскому договору Cheapollo: конфиденциальность и персональные данные
      p Конфиденциальная информация — любая информация, ставшая известной Сторонам в связи с Договором, имеющая коммерческую ценность для любой из Сторон в силу ее неизвестности третьим лицам, включая, но не ограничиваясь:
      ul
        li - внутренняя информация, коммерческая тайна, персональные данные,
        li - ноу-хау, интеллектуальная собственность,
        li - информация о продукции, сделках, Покупательах, структуре цен, маркетинговой стратегии, коммерческих возможностях и т.д.,
        li - информация о видах и цене товаров/услуг, размере агентского вознаграждения и иных платежей по Договору.
      p 1. Конфиденциальная информация в рамках Договора может передаваться Сторонами друг другу как с грифом конфиденциальности, так и без него. Стороны могут указывать на Конфиденциальность передаваемой информации в письмах, актах приема-передачи документов, в электронной почте, в устной форме или другими способами.
      p 2. Стороны обязуются:
      ul
        li 2.1. использовать Конфиденциальную информацию только для целей Договора;
        li 2.2. передавать Конфиденциальную информацию только тем своим сотрудникам, которым она необходима для целей Договора, и с которыми подписаны обязательства о сохранении конфиденциальности;
        li 2.3. не раскрывать Конфиденциальную информацию третьим лицам без согласия передающей Стороны (за исключением раскрытия своим профессиональным консультантам или на основании обоснованного запроса государственного органа);
        li 2.4. охранять полученную Конфиденциальную информацию от несанкционированного доступа третьих лиц в течение 3 лет после прекращения Договора.
      p 3. К Конфиденциальной не относится информация в общем публичном доступе.
      p 4. Стороны подтверждают и гарантируют соблюдение требований законодательства Российской Федерации о персональных данных.
      p 5. Заключая Договор, Принципал подтверждает получение согласия своих представителей и работников на обработку Агентом их персональных данных, в том числе, на передачу компаниям, с которыми у Агента заключен договор по оказанию услуг
      p 6. В случаях, когда Принципал получает от Агента персональные данные Покупателя и /или передает такие данные третьим лицам для организации доставки товаров Покупателям, Принципал обязан соблюдать сам и обязать таких третьих лиц соблюдать правила и принципы обработки персональных данных Покупателей, предусмотренные Федеральным законом от 27.07.2006 г. №152-ФЗ «О персональных данных», а также обеспечить конфиденциальность и безопасность персональных данных Покупателей при их обработке, в том числе:
      ul
        li - произвести уничтожение персональных данных Покупателей, когда достигнута цель их обработки, либо, когда Агент сообщит об отсутствии оснований их обработки, а также по запросу Агента в течение 5 (Пяти) рабочих дней предоставить доказательства уничтожения;
        li - по запросу Агента в течение 10 (Десяти) календарных дней предоставлять информацию о деятельности третьих лиц по обработке персональных данных Покупателей, необходимую для ее контроля;
        li
          | - незамедлительно (в течение 24 часов) уведомлять Агента об обнаружении утечки персональных данных, а также
          | подробную информацию о ней по адресу
          |
          a(href="mailto:mailer@cheapollo.ru") mailer@cheapollo.ru
          | .
      p 7. Принципал несет ответственность за любые возможные претензии, которые могут возникнуть в связи с нарушением законодательства РФ о персональных данных, возникшие вследствие использования персональных данных Покупателей в иных целях, чем это указано в Договоре, по вине Принципала и возмещает Агенту суммы причиненного по вине Принципала ущерба (убытков, расходов, вреда, штрафов и т.д.) в полном объеме в течение 5 (Пяти) рабочих дней с даты получения претензии.
      p
        | 8. Принципал подтверждает, что до заключения Договора ознакомился с Политикой конфиденциальности персональной
        | информации, размещенной на странице по адресу:
        |
        a(href="https://cheapollo.ru/policy") https://cheapollo.ru/policy
        | .
      h2#prilozhenie7 Приложение № 7 к Агентскому договору Cheapollo: возврат Товара
      p 1. Принципал поручает Агенту определять условия приема возврата товаров от Покупателей (под возвратами в том числе понимаются случаи отказа Покупателей от товара надлежащего качества), не ухудшающие положение Покупателя по сравнению с требованиями законодательства РФ, в том числе определять срок для возврата товара надлежащего качества, качество возвращаемого Покупателем товара и возможность дальнейшей реализации или возврат Принципалу.
      p
        | 2. Товары, на которые оформляется возврат Покупателями, а также неполученные Покупателями Товары хранятся в
        | ПВЗ до момента вывоза Товара Принципалом. Принципал обязан вывезти возвращенный (не принятый) Покупателем
        | товар в течение 24 часов с момента направления Агентом уведомления о возврате (не принятии) Товара
        | Покупателем и необходимостью его вывоза Принципалом. По истечении 24 часов с момента направления Агентом
        | уведомления Принципалу стоимость дополнительного хранения Товара рассчитывается в соответствии с
        |
        a(href="#") Приложением «Модели работы, агентское вознаграждение и тарифы Cheapollo»
        | .
      p.
        3. В случае если Принципал не вывозит Товар в течение 14 (Четырнадцати) календарных дней с даты направления уведомления, Агент по собственному выбору принимает решение об утилизации, либо реализации Товара. В случае утилизации, все расходы, связанные с утилизацией подлежат возмещению Принципалом дополнительно к стоимости дополнительного хранения Товара. Вырученная от реализации Товара сумма принадлежит Агенту и не подлежит передаче Принципалу. В случае, если вырученная от реализации сумма не покрывает стоимость дополнительного хранения и расходы по реализации Товара, Принципал дополнительно возмещает Агенту все расходы, не покрытые вырученной от реализации Товара суммой.
      p.
        4. В случае возврата Товара в не вскрытой упаковке (без следов вскрытия), Агент проверяет соответствие номера Заказа такого Товара данным в ЛК без вскрытия и проверки качества Товара.
      p
        | 5. В случае возврата Товара с вскрытой упаковкой, Агент проверяет соответствие возвращаемого Товара из вскрытой
        | упаковки номеру Заказа. Транспортная упаковка может быть вскрыта или отсутствовать. Агент заклеивает вскрытую
        | транспортную упаковку, либо заменяет ее за счёт Принципала, в соответствии с
        |
        a(href="#") Приложением «Модели работы, агентское вознаграждение и тарифы Cheapollo»
        | .
      p.
        6. Доставка Товара до ПВЗ (до места назначения) при отказе Покупателя от его приёмки осуществляется за счёт Принципала
      p
        | 7. Агент вправе утилизировать (в т.ч. уничтожить), либо реализовать Товар, возвращенный Покупателем по запросу
        | Принципала на электронную почту
        |
        a(href="mailto:seller@cheapollo.ru ") seller@cheapollo.ru
        |
        | или в соответствии с настоящим Приложением. Агент
        | самостоятельно определяет способы утилизации, либо реализации Товара. По запросу Принципала Агента предоставляет
        | документы, подтверждающие утилизацию (уничтожение), либо реализацию Товара. В случае утилизации (уничтожения),
        | либо реализации Товара по любым основаниям, установленным Договором, Агент не возмещает Принципалу стоимость товара.
      p.
        8. Если действия по вывозу Товаров согласно условиям Договора и настоящего Приложения, не выполнены Принципалом в установленные сроки, то с даты истечения такого срока Сторонами предполагается, что Принципал должным образом выразил своё согласие на утилизацию, либо реализацию Товара. Агент уполномочен Принципалом в любой момент осуществить утилизацию, либо реализацию Товара без дополнительных уведомлений Принципала.
      h2#prilozhenie8 Приложение № 8 к Агентскому договору Cheapollo: требования к Товару и к оформлению Карточки товара
      p 1. Товар должен соответствовать условиям Договора, описанию в Карточке товара и иным требованиям Агента в ЛК по всем параметрам. При несоответствии товара любым таким требованиям, Агент вправе отказать в размещении такого Товара на Сайте или приостановить исполнение обязательств в отношении такого Товара.
      p 2. Товар должен быть надлежащего качества, пригоден для целей, для которых товар такого рода обычно используется, не должен иметь видимых повреждений, деформаций или поломок самого товара или его упаковки. Принципал по запросу Агента в ЛК до или после начала реализации товара указывает в ЛК реквизиты (и/или загружает копии) документов, подтверждающих соответствие качества товара всем обязательным требованиям, и поддерживает актуальность в ЛК таких документов (при их изменении), а также предоставляет информацию о классе опасности товара.
      p 3. В отношении всех товаров Принципал обязан получить исключительное право либо лицензии или иные необходимые согласия на использование фирменных наименований, товарных знаков, знаков обслуживания, коммерческих обозначений, имён, изображений и/или иных охраняемых результатов интеллектуальной деятельности (РИД) третьих лиц. Принципал по запросу Агента до или после начала реализации товара обязан предоставить копии документов, подтверждающих право на использование РИД.
      p 4. Принципал гарантирует следующее:
      ul
        li - Товары, размещение и реализация которых осуществляется Принципалом на Сайте, правомерно введены в гражданский оборот;
        li - наличие законных прав на использование товарных знаков и иных охраняемых законом результатов интеллектуальной деятельности, используемых на Товаре (логотипы, охраняемые элементы и иное);
        li - товар принадлежит Принципалу на праве собственности, свободен от прав третьих лиц, не находится в залоге, под арестом и не является предметом исков третьих лиц;
        li - товар является новым и не бывшим в употреблении;
        li - товар допущен к свободному обращению на территории Российской Федерации, без каких-либо ограничений,
        li - Принципал имеет все установленные законодательством лицензии и разрешения, необходимые для производства и/или реализации Товара (выполнения работ, оказания услуг), а также обладает организационными, финансовыми, квалифицированными профессиональными, кадровыми и иными ресурсами, необходимыми для надлежащего исполнения Договора и производства и/или реализации Товара (работ, услуг).
      p Каждая вариация Товара по цветам, размерам и другим существенным признакам должна иметь свой собственный артикул.
      p Товар поставляется в таре и/или упаковке, обеспечивающей сохранность товара при его перевозке, сортировке, осуществлении складских процессов, хранении, погрузке в транспортные средства и выгрузке без повреждения Товара, соответствующей требованиям, установленным в Приложении «Правила упаковки и маркировки Товара».
      p 7. В той степени, в которой к конкретному Товару применимы различные требования законодательства, Товар должен соответствовать следующим условиям:
      ul
        li 7.1. Каждая единица Товара должна иметь индивидуальную упаковку с хорошо читаемыми этикетками (на русском языке и наклеенными на видном месте снаружи упаковки) с указанием наименования Товара, его основных характеристик, даты изготовления и сроков годности (срока службы).
        li 7.2.  Если товар подлежит обязательной маркировке знаками соответствия или иными знаками и марками, в том числе по классам опасности, товар должен быть маркирован всеми необходимыми знаками и марками. При передаче Агенту Товара, включенного в Перечень товаров, подлежащих обязательной маркировке средствами идентификации Принципал обязуется передавать маркированные Товары с нанесенными средствами идентификации, обеспечивать проверку соответствия кода маркировки и вложения товара в потребительскую упаковку, обеспечивать соответствие информации на этикетке товара информации в системе «Честный знак», обеспечивать соответствие передаваемого Агенту для внесения в чек кода маркировки информации на этикетке и в системе «Честный знак». Принципал гарантирует, что продажа и любое введение в оборот товаров отвечают требованиям о маркировке и несет полную ответственность за достоверность представленных Агенту сведений по маркированному товару, а также за передачу Агенту немаркированной продукции. Стороны договорились, что Агент имеет право не принимать к реализации товары без маркировки за 6 (шести) месяцев до даты вступления в силу запрета на оборот немаркированных товаров из числа подлежащих обязательной маркировке.
        li 7.3. В случае если на Товар Принципал или изготовитель установил гарантию, гарантийные сроки и сроки службы, данная информация указывается Принципалом в Карточке товара.
        li 7.4. В упаковку товара должны быть вложены гарантийный талон (при наличии), инструкция (правила безопасного и эффективного использования Товара) на русском языке, а также иная необходимая документация.
        li 7.5. Срок годности и срок службы Товара должен соответствовать требованиям законодательства.
      p 8. Принципал не вправе размещать к продаже на Сайте товары, продажа которых дистанционным способом запрещена законодательством Российской Федерации.
      p 9. Принципал обязуется размещать на сайте Товары по группам и видам в строгом соответствии категориям товаров, имеющимся на Сайте. Принципал вправе обратиться к Агенту с предложением о создании на Сайте дополнительной категории для размещения иных групп товаров. Обращение направляется в порядке установленном в Договоре.
      p 10. Карточки товаров Принципал заполняет самостоятельно в полном соответствии с требованиями, установленными законодательством к информации о Товаре, а также с требованиями к оформлению Карточки товара, установленными Договором и настоящим Приложением.
      p 11. В случае оказания Агентом Принципалу услуги по созданию Карточек товаров на основе представленных Принципалом данных, Принципал обязан самостоятельно проверить созданную Агентом Карточку Товара и, в случае необходимости, внести корректировки, либо представить Агенту перечень недочетов требующих устранения. В случае не поступления от Принципала в течение 3 (Трех) рабочих дней с даты размещения Карточки товара на сайте каких-либо замечаний к созданной Агентом Карточке товара, Принципал самостоятельно несет полную ответственность за соответствие размещенной в Карточке товара информации.
      p 12. Принципал гарантирует, что предоставленная им для размещения информация о Товарах содержит все необходимые сведения, предусмотренные законодательством, в том числе о защите прав потребителей, а также гарантирует, что Товары, реализуемые Принципалом на Сайте, соответствуют всем требованиям законодательства Российской Федерации, в том числе законодательству о техническом регулировании, требованиям Постановления Правительства РФ от 26 апреля 2019 г. № 515 «О системе маркировки товаров средствами идентификации и прослеживаемости движения товаров», а также не являются фальсифицированными и/или контрафактными. Принципал несет ответственность перед третьим лицами за содержание размещаемой им на Сайте информации, ее соответствие законодательству и соблюдение прав третьих лиц на интеллектуальную собственность при размещении информации и фотографий.
      p 13. Агент вправе в любое время запросить у Принципала документы, подтверждающие качество Товара и соответствие Товара обязательным требованиям, в том числе, но не ограничиваясь: сертификаты соответствия, декларации о соответствии, свидетельства о регистрации Товара и иные документы, предусмотренные законодательством РФ. Запрос может быть направлен Агентом Принципалу по Электронному адресу Принципала или по средствам ЛК Сайта. Принципал обязан предоставить Агенту электронные скан-копии запрашиваемых документов (по требованию Агента такие скан-копии должны быть заверены подписью и печатью Принципала). При этом Принципал обязан предоставить указанные документы, действовавшие как на дату размещения Товара на Сайте, так и документы, действующие в течение всего периода с даты размещения и до даты запроса Агентом. Принципал должен выполнить предусмотренную настоящим пунктом обязанность независимо от того, были им предоставлены такие документы ранее (в том числе по ранее поступившим запросам Агента) в течение 3 (трёх) рабочих дней с даты направления запроса.
      p 14. Агент вправе требовать внесения изменений в Карточки товара Принципалом. Изменения в таком случае должны быть внесены в течение 1 (Одного) рабочего дня с момента выдвижения требований.
      p 15. Агент вправе удалить любую информацию с Сайта, если такая информация по мнению Агента нарушает действующее законодательство или права третьих лиц, или при нарушении Принципалом заявленных требований о внесении изменений в Карточку товара.
      p 16. Агент вправе блокировать Карточку товара на Сайте, делая Товар недоступным для Заказа Покупателем в случае несоответствия содержания Карточки законодательству РФ или условиям Договора и настоящего Приложения.
      p 17. Агент осуществляет модерацию созданных Принципалом Карточек товара. По результатам модерации Карточка товара может быть не опубликована на Сайте.
      p 18. Принципал обязан поддерживать актуальность и достоверность размещенной в Карточках товаров информации о Товаре и его цене. В случае указания в Карточке товара недостоверной информации, Принципал принимает на себя любые наступившие в связи с этим негативные последствия, в том числе при расчете размера Агентского вознаграждения исходя из недостоверных данных.
      p 19. Агент вправе размещать Карточку товара и/или любые входящие в нее информационные блоки на Сайте совместно с ценовыми предложениями аналогичных товаров другими Принципалами; а также на иных ресурсах, администрируемых Агентом или по его поручению другими компаниями и лицами и на сторонних ресурсах в рекламно-маркетинговых целях.
      p 20. Принципал предоставляет Агенту согласие на использование товарного знака (далее – «ТЗ»), какой нанесен на передаваемые (поставляемые) Товары в целях использования их на Сайте для продажи Товара, а также для использования в рекламе, где Товар с нанесенным ТЗ может быть использован Агентом для создания любого вида рекламы, как рекламирующего Товар, так и Товар и Агента совместно. Настоящим Принципал предоставляет Агенту согласие на размещение на Сайте и иных ресурсах, администрируемых Агентом или по его поручению другими компаниями и лицами ТЗ, логотипа и/или фирменного наименования Принципала, изображения и информации о Товарах.
