article.terms-of-use
  .terms-of-use__cont.cont
    h1.terms-of-use__title.title Пользовательское соглашение
    .content_2
      p Соглашение является публичным предложением Cheapollo (офертой) любому Покупателю к заключению Пользовательского соглашения на указанных ниже условиях.
      p Покупатель обязан полностью ознакомиться с настоящим Соглашением до начала использования Сайта. Факт регистрации, использования любых функций, программных возможностей, материалов и информации Сайта, а также простой просмотр Сайта означает полное и безоговорочное принятие Покупателем настоящего Соглашения.
      p Страницы Сайта с описанием Товаров, информацией об условиях их оплаты, возврата и доставки являются неотъемлемой частью настоящего Соглашения.
      p Условия вступают в силу с момента их опубликования на Сайте и действуют бессрочно до внесения соответствующих изменений.
      p Стороны Соглашения гарантируют, что обладают необходимой правоспособностью и дееспособностью для заключения и исполнения настоящего Соглашения.
      p Посредством Сайта Покупателю предоставляется безвозмездная возможность поиска информации о Товарах, ознакомления с товарными предложениями, размещенными на Сайте, возможность получения (в т.ч. по результатам поиска) товарных предложений и информации, а также иные функциональные возможности.
      h2 Термины и определения
      p
        b= "Cheapollo "
        | – Общество с ограниченной ответственностью «Чиполло» (ИНН 4345506892, ОГРН 1204300011233, email:
        |
        a(href='mailto:mailer@cheapollo.ru') mailer@cheapollo.ru
        | , юридический адрес: 610046, Кировская обл, Киров г, Московская ул., дом 102В/1, помещ. 2).
      p
        b= "Покупатель "
        | – полностью дееспособное физическое лицо, приобретающее (либо указанное в качестве получателя) Товары (работы, услуги) у Продавца дистанционным способом посредством оформления заказа Товаров на Сайте исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности, либо юридическое лицо, индивидуальный предприниматель, приобретающие (либо указанное в качестве получателя) Товары (работы, услуги) у Продавца дистанционным способом посредством оформления заказа Товаров на Сайте в целях, не связанных с осуществлением предпринимательской деятельности и их последующей перепродажей.
      p
        b= "Авторизация "
        | – процесс идентификации Покупателя, путем ввода логина (e-mail) и пароля, для доступа к Личному кабинету.
      p
        b= "Заказ "
        | – Товар (работа, услуга) или совокупность Товаров (работ, услуг) одновременно приобретаемых Покупателем на Сайте.
      p
        b= "Оформление заказа "
        | – действия Покупателя, направленные на заключение договора купли-продажи Товара с Продавцом и /или заключения договора о доставке Товара с Cheapollo.
      p
        b= "Код "
        | – персональный идентификационный номер, служащий дополнительным средством защиты от несанкционированного получения Заказа, является аналогом собственноручной подписи Покупателя.
      p
        b= "Личный кабинет Покупателя (ЛК) "
        | – персональный и не доступный третьим лицам раздел Покупателя на Сайте, служащий в целях оформления Заказов и оформления Услуг, в соответствии с настоящим Соглашением, доступ к которому осуществляется после регистрации путем ввода аутентификационных данных Покупателя (логина и пароля Покупателя).
      p
        b= "Сайт "
        | – агрегатор информации о Товарах (услугах, работах), на котором размещаются адресованные Покупателям предложения о заключении договора купли-продажи Товара (оказания услуг, выполнения работ), принадлежащих Продавцу (выполняемые / предоставляемые Продавцом), расположенный на доменном имени cheapollo.ru, включая поддомены, которые принадлежат и администрируются Cheapollo. Доменное имя, наименование Сайта может быть изменено по усмотрению Cheapollo.
      p
        b= "Продавец "
        | – юридическое лицо или индивидуальный предприниматель или гражданин РФ, признанный в установленном законодательством РФ порядке самозанятым, осуществляющие деятельность по продаже товаров и предлагающие Покупателю заключить договор купли-продажи Товара с использованием дистанционного способа, путем размещения информации о Товарах на Сайте.
      p
        b= "Пункт выдачи заказов (ПВЗ) "
        | – место, где осуществляется выдача Заказа Покупателю, указавшему на Сайте адрес соответствующего ПВЗ в качестве места доставки. Местонахождение и иные характеристики ПВЗ указаны на странице
        |
        a(href="/delivery") Доставка
        |
        | на Сайте.
      p
        b= "Товар "
        | – товары (объекты материального мира), являющиеся предметом договора купли-продажи, заключаемого между Продавцом и Покупателем. Все взаимоотношения, связанные с куплей-продажей Товаров на Сайте, возникают непосредственно между Продавцом и Покупателем. Cheapollo не является продавцом Товара.
      p.
        В Соглашении (в том числе в приложениях к нему) могут быть использованы термины, не определенные в настоящем разделе Соглашения. В этом случае толкование такого термина производится в соответствии с текстом Соглашения (в том числе приложений к нему). В случае отсутствия однозначного толкования термина в тексте Соглашения следует руководствоваться толкованием термина, определенным: в первую очередь — законодательством РФ, во вторую очередь — сложившимся (общеупотребимым) в сети Интернет.
      h2 2. Предмет соглашения
      p.
        2.1. Настоящее соглашение регулирует отношения между Cheapollo и Покупателем, возникающие при использовании последним Сайта.
      h2 3. Регистрация на Сайте
      p.
        3.1. Регистрация Покупателя в ЛК на Сайте осуществляется одним из способов:
      ul
        li путем предоставления данных при заполнении формы, размещенной на Сайте для оформления заказа;
        li путем совершения ряда последовательных действий по заполнению формы регистрации на Сайте, в том числе указать адрес электронной почты и сформировать пароль, по желанию указать имя, фамилию и номер телефона, подтвердить создание ЛК, переходом по ссылке отправленной на адрес электронной почты, указанной при регистрации ЛК.
      p.
        3.2. При прохождении регистрации Покупатель самостоятельно формирует пароль для доступа к ЛК. Cheapollo вправе предъявлять требования к паролю Покупателя при его формировании (длина, допустимые символы и т.д).
      p.
        3.3. При совершении процедуры регистрации Покупатель подтверждает, что является совершеннолетним и полностью дееспособным физическим лицом, а также что имеет право представлять интересы юридического лица при приобретении Товаров от юридического лица.
      p
        | 3.4. Cheapollo осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение регистрационных данных Покупатель (в том числе, персональных данных) в соответствии с Политикой конфиденциальности персональной информации, размещенной на Сайте по адресу
        |
        a(href='/policy') https://cheapollo.ru/policy
        | , и являющеся неотъемлемой частью настоящего Соглашения.
      p.
        3.5. При регистрации/ оформлении Заказа Покупатель должен предоставить достоверные данные о себе и/или получателе. Покупатель принимает на себя все риски, включая риск неисполнения либо ненадлежащего исполнения заказа в случае указания Покупателем неверных данных. Cheapollo не несет ответственности за точность и правильность информации, предоставляемой Покупателем при регистрации.
      p.
        3.6. Покупатель обязуется не сообщать третьим лицам логин и пароль, указанные при создании ЛК. Покупатель несёт ответственность за все возможные негативные последствия, в случае передачи учетных данных ЛК третьим лицам. Все действия, совершенные под учетной записью Покупателя, признаются произведенными самим Покупателем.
      p.
        3.7. Cheapollo не несёт ответственность за убытки, которые Покупатель может понести в результате того, что его номер телефона перешел в собственность другого лица, в том числе в результате длительного (от 3-х месяцев) неиспользования такого номера телефона Покупателем.
      p.
        3.8. Cheapollo вправе заблокировать и (или) аннулировать ЛК Покупателя, или ограничить функциональные возможности использования Покупателем Сайта в случае нарушения Покупателем условий настоящего Соглашения, а также в случае неоднократной отмены осуществленных Покупателем Заказов.
      h2 4. Оформление заказа
      p.
        4.1. С помощью Сайта Покупатель может осуществлять поиск информации о Товарах (работах, услугах), и приобретать необходимый Товар (оказание услуг, выполнение работ).
      p.
        4.2. Покупателю доступны следующие способы получения Товара:
      ul
        li самостоятельное получение в Пункте выдачи заказов;
        li курьерская доставка по указанному адресу в пределах города, в котором открыт Пункт выдачи заказов;
        li самостоятельное получение в магазине Продавца (при наличии такой возможности, указанной в карточке товара)
      p.
        4.3. Покупатель при осуществлении Заказа:
      ul
        li вступает в прямые договорные отношения с Продавцом, у которого покупает Товар.
        li если им была выбрана доставка по адресу, заключает договор о доставке Товара с Cheapollo, либо с Продавцом.
      p.
        4.4. Cheapollo и Продавец могут поручить исполнение своих обязательств по договору с Покупателем третьим лицам, оставаясь при этом ответственным за его исполнение.
      p.
        4.5. Осуществляя Заказ (путём нажатия кнопки «Оформить Заказ» или иной аналогичной кнопки), Покупатель подтверждает свое намерение заключить договор купли-продажи с Продавцом, в том числе подтверждает, что:
      ul
        li ознакомлен с информацией о Товарах (услугах) и условиями продажи Товара в полном объеме;
        li он полностью ознакомился с условиями настоящего Соглашения, что он полностью их понимает, а также понимает и согласен с предметом и условиями заключенного с Продавцом договора купли-продажи.
      p.
        4.6. Для верификации Покупателя при передаче Заказа, покупателю отправляется Код посредством электронного письма на e-mail, указанный им при регистрации и/или оформлении заказа.
      p.
        4.7. Заказ может быть отменен в следующих случаях:
      ul
        li в случае отсутствия Товара в наличии;
        li в случае если Покупателя не устроило время/срок доставки Заказа;
        li в случае возникновения иных непредвиденных обстоятельств;
        li уклонение Покупателя от получения Заказа;
        li истёк срок хранения Заказа на Пункте выдачи заказа;
        li в иных случаях, когда Продавец не может исполнить Заказ.
      p.
        4.8. При оформлении Заказа Покупатель признает, что Продавцу необходимо время для подтверждения наличия необходимого Покупателю Товара на момент оформления Заказа. Стороны соглашаются, что актуальная информация о Товарах (работах, услугах) предоставляется своевременно, насколько это возможно. В случае отсутствия Товара у Продавца и невозможности выполнить Заказ, негативные юридические последствия для Продавца и  Cheapollo не возникают.
      p.
        4.10. Договор считается заключенным с момента направления Покупателю кассового чека либо иного документа, подтверждающего оплату Товара.
      p.
        4.9. Cheapollo не гарантирует доступность заказанных Товаров на складах Продавца на момент обработки Заказа. Если Покупателем оформлен Заказ на Товар, и на момент обработки Заказа на складе у Продавца отсутствует этот Товар либо отсутствует необходимое количество заказанного Товара, Cheapollo информирует об этом Покупателя по указанному Покупателем номеру телефона или письмом по адресу электронной почты.
      p.
        4.10. Cheapollo может связаться с Покупателем, не завершившим оформление Заказа, для уточнения информации и, при необходимости, оказания Покупателю помощи в оформлении Заказа.
      p.
        4.11. Информационные материалы о Товарах носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках Товара, включая цветопередачу, соотношение размеров и восприятия формы. В случае возникновения вопросов о свойствах и характеристиках Товара перед оформлением Заказа Покупатель должен обратиться к Cheapollo или Продавцу.
      h2 5. Оплата Заказа
      p.
        5.1. При приобретении Товаров на Сайте Покупателю доступен только безналичный способ оплаты.
      p.
        5.2. Покупатель осуществляет оплату по реквизитам Cheapollo, который действует по поручении соответствующего Продавца с привлечением уполномоченного оператора по приему платежей или оператора электронных денежных средств и является получателем платежа в качестве агента Продавца.
      p.
        5.3. В случаях, предусмотренных действующим законодательством, при расчетах за Заказ в сети «Интернет» кассовый чек направляется на адрес электронной почты, указанный Пользователем при оформлении Заказа.
      h2 6. Получение Заказа
      p.
        6.1. При получении Заказа Покупатель обязан предъявить Cheapollo Код, отправленный на email, указанный при регистрации и/или при оформлении заказа. При совпадении отправленного и предъявленного Кода, Cheapollo вправе выдать Заказ лицу его предъявившему.
      p.
        6.2. В целях проверки исключения мошенничества при вручении предварительно оплаченного Товара Cheapollo или служба доставки, осуществляющая доставку Заказа, вправе затребовать документ, удостоверяющий личность Покупателя.
      p.
        6.3. Право собственности на заказанные Товары переходит к Покупателю с момента фактической передачи Товара Покупателю.
      p.
        6.4. Настоящим пунктом Покупателю сообщается о необходимости использования квалифицированных специалистов по подключению, наладке и пуску в эксплуатацию технически сложных товаров, которые по техническим требованиям не могут быть пущены в эксплуатацию без участия соответствующих специалистов.
      h2 7. Отказ Покупателя от Товара, возврат и обмен Товара
      p.
        7.1. Покупатель вправе отказаться от Товара:
      ul
        li в любое время до его передачи, а после передачи Товара — в течение 7 дней по причине, не связанной с ненадлежащим качеством Товара.
        li в случае ненадлежащего качества.
      p.
        В иных случаях и случаях, когда Покупатель является юридическим лицом, либо индивидуальным предпринимателем, при возврате Товара Стороны будут руководствоваться законодательством Российской Федерации.
      p.
        7.2. Порядок возврата Товара определяется Правилами возврата Товара, размещеными на странице Гарантии и возврат и являющимися неотъемлемой частью настоящего Соглашения.
      h2 8. Доставка Товара
      p.
        8.1. Доставка Товара Покупателю осуществляется по адресу и в сроки, согласованные при оформлении Заказа, либо производится самостоятельно Покупателем из выбранного Покупателем ПВЗ или магазина Продавца при наличии такой возможности, указанной на Сайте.
      p.
        8.2. Услуга по адресной доставке Товара до Покупателя осуществляется за отдельную плату. Покупатель при оформлении Заказа самостоятельно совершает заказ услуги по доставке с указанием адреса и временного промежутка для доставки. Окончательная стоимость доставки Товара определяется при оформлении заказа и не может быть изменена после согласования Покупателем. Совершение Покупателем действий по выбору услуги по доставке при оформлении Заказа признается принятием в полном объеме условий по доставке. Покупатель соглашается с тем, что доставка — это отдельная услуга, при этом ни Cheapollo, ни привлеченное для осуществления доставки третье лицо, не являются Продавцами товаров.
      p.
        8.3. Неявка Покупателя или несовершение иных необходимых действий для принятия Товара могут рассматриваться в качестве отказа Покупателя от исполнения договора купли-продажи. Заказ хранится в пункте выдачи заказов в течение 7 дней с момента его поступления в ПВЗ.
      p.
        8.4. При принятии товара Покупатель (Получатель) обязан осмотреть Товар, проверить его на соответствие заявленному количеству, ассортименту и комплектности, а также проверить целостность упаковки и убедиться в отсутствии на Товаре видимых повреждений.
      p.
        8.5. Приемка и осмотр Товара при адресной доставке до Покупателя осуществляется Покупателем в срок, не превышающий 20 минут. Проверка заказанного Товара в ПВЗ не ограничена по времени.
      p.
        8.6. При приемке Заказа Покупатель вправе в присутствии лица, осуществляющего выдачу Заказа, вскрыть упаковку и проверить Товар на предмет целостности, отсутствия недостатков, по количеству и ассортименту.
      h2 9. Прочие условия
      p.
        9.1. Оформляя заказ на Сайте, Покупатель соглашается на получение:
      ul
        li электронных писем/push-уведомлений, которые Cheapollo может направить Покупателю;
        li сообщений (SMS) на телефонный номер, указанный Покупателем,
        li звонков для подтверждения Заказа и с предложением оценить качество работы Сайта на телефонный номер, указанный Покупателем.
        li кассовых чеков и иных документов об оплате.
      p.
        9.2. Cheapollo вправе изменять настоящие Соглашение в одностороннем порядке, помещая их на Сайте. Все изменения вступают в силу немедленно после публикации, и считаются доведенными до сведения Покупателя с момента такой публикации. Покупатель самостоятельно несёт ответственность за своевременное ознакомление с внесенными на Сайт изменениями.
      p.
        9.3. Cheapollo вправе осуществлять записи телефонных переговоров с Покупателем. В соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и о защите информации»  Cheapollo обязуется: предотвращать попытки несанкционированного доступа к информации и/или передачу ее лицам, не имеющим непосредственного отношения к исполнению Заказов, своевременно обнаруживать и пресекать такие факты.
      p
        | 9.4. Cheapollo вправе направлять Покупателю сообщения рекламно-информационного характера посредством e-mail и sms-рассылок с информацией о скидках, акциях, новых поступлениях и т.п. Частота рассылок определяется Cheapollo самостоятельно, в одностороннем порядке. Покупатель вправе отказаться от получения информационных электронных сообщений, сообщив об этом Cheapollo по адресу
        |
        a(href="mailto:mailer@cheapollo.ru") mailer@cheapollo.ru
        | .
      p.
        9.5. Cheapollo вправе изменять условия Акций, размещенных на Сайте, в одностороннем порядке без согласия Покупателя путём размещения таких изменений на Сайте.
      p.
        9.6. Покупатель обязуется не использовать самостоятельно или с привлечением третьих лиц возможности Сайта в целях, которые могут быть квалифицированы как нарушение прав третьих лиц на объекты интеллектуальной собственности, недобросовестная конкуренция, иное нарушение закона.
      p.
        9.7. Покупатель согласен с тем, что Cheapollo не несет ответственности перед Покупателем в связи с любыми возможными или возникшими потерями и убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами и услугами, доступными или полученными через внешние сайты и ресурсы либо иные контакты Покупателя, в которые он вступил/перешел, используя размещенную на сайте информацию или ссылки на внешние ресурсы.
      p.
        9.8. Покупатель согласен с тем, что Cheapollo не несет какой-либо ответственности за соответствие Сайта целям и ожиданиям Покупателя, а также за любой ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству и деловой репутации в связи с использование Сайта и его содержания. Cheapollo  ни при каких обстоятельствах не может выступать ответчиком по возмещению любого ущерба, нанесенного правообладателям от несанкционированного размещения любой информации Продавцами или Покупателями на Сайте.
      p.
        9.9. Ответы Cheapollo или Продавца на обращения и претензии Покупателя признаются направленными в надлежащей форме, в случае их отправки в ЛК, либо на электронный адрес Покупателя, указанный им при регистрации, либо в письменной форме на почтовый адрес Покупателя (при наличии такого распоряжения от Покупателя).
      p.
        9.10. Все возникающее споры стороны будут решать путём переговоров, при недостижении соглашения спор будет передан на рассмотрение в суд, в соответствии с действующим законодательством РФ.
      p.
        9.11. Cheapollo не несет ответственности за временные сбои и перерывы в работе Сайта, за качество и скорость работы сервиса и сохранность используемой при этом информации. В случае технических сбоев  и поломок Cheapollo будет принимать все возможные меры для восстановления работоспособности Сайта.
      p.
        9.12. Cheapollo вправе самостоятельно и без уведомления Покупателя отбирать отзывы для публикации, в том числе, но не ограничиваясь:
      ul
        li оставлять отзывы о Товарах, размещенных на Сайте, ставить оценки Товарам при использовании Сайта может любой авторизованный Покупатель;
        li вместе с отзывом Покупателя будет опубликовано его имя, указанное им в Личном кабинете Сайта;
        li не публиковать отзывы, содержание которых не относится к тематике работы Сайта, осуществлению покупок на ней;
        li не публиковать отзывы, содержание которых не относится к реальному опыту использования соответствующего Товара;
        li не публиковать отзывы, которые содержат ненормативную лексику, высказывания оскорбительного характера, в том числе фотографии и изображения, недопустимые к публикации с этической точки зрения;
        li не публиковать отзывы, комментарии, содержащие ссылки на другие веб-сайты, персональные данные третьих лиц;
        li удалить опубликованный отзыв в любое время;
        li самостоятельно определять срок, в течение которого отзывы считаются актуальными и на который они публикуются на Сайте.
      p.
        9.13. Покупатель соглашается с тем, что размещенные им на Сайте сообщения и материалы могут быть использованы Cheapollo, в том числе на иных ресурсах, которые принадлежат и/или администрируются Cheapollo, в рекламных или маркетинговых материалах, размещаемых на ресурсах Cheapollo в сети Интернет, а также на иных ресурсах и сайтах в сети Интернет, для привлечения внимания других потребителей к Сайту в целом или к Товарам и Услугам третьих лиц, как с указанием автора сообщения или материала (в качестве имени автора при этом будет указываться имя Покупателя, которое он указал при регистрации или в настройках своих данных в Личном кабинете), так и без этого, без обязанности предоставлять отчеты об использовании таких сообщений и материалов, без необходимости получения специального разрешения Покупателя и без выплаты авторского вознаграждения, на территории всего мира без ограничения срока, с правом Cheapollo предоставлять указанные права использования таких сообщений и материалов третьим лицам.
      p.
        9.14. Покупатель соглашается, что оставленные им отзывы и поставленные оценки могут быть опубликованы и использованы Cheapollo на Сайте или на сайтах третьих лиц без дополнительного согласия Покупателя. При этом отзывы и приложенные к нему изображения публикуются и используются «как есть» с сохранением авторской грамматики и пунктуации, под именем Покупателя, указанным в Личном кабинете. При добавлении отзывов Покупатель несет ответственность за соответствие содержания размещаемого Покупателем контента требованиям действующего законодательства. Покупатель несет ответственность за достоверность сведений, содержащихся в оставленных им отзывах.
      h2 10. Реквизиты
      p ООО «ЧИПОЛЛО»
      p ИНН: 4345506892
      p КПП: 434501001
      p ОГРН: 1204300011233
      p ОКПО: 46637211
      p Расчетный счет: 40702810727000015050
      p Банк: КИРОВСКОЕ ОТДЕЛЕНИЕ N8612 ПАО СБЕРБАНК
      p БИК: 043304609
      p Корр. счет: 30101810500000000609
      p Юридический адрес: 610046, Кировская обл, Киров г, Московская ул., дом 102В/1, офис ПОМЕЩ. 2
      p Директор: Чернышева Наталья Юрьевна
